<include file="Public:header"/>
<div class="personal-group">
    <div class="header-all">
        <div class="com-header">
            <a class="back-a" href="javascript:history.go(-1)"><i class="head-icon-back">&#xe609;</i></a>充值中心
        </div>
        <div class="dt-top"></div>
    </div>
    <form action="" method="post" id="mainForm">
        <div class="weui_cells weui_cells_radio">
            <label class="weui_cell weui_check_label" for="x12">
                <div class="weui_cell_bd weui_cell_primary">
                    <p>微信支付</p>
                </div>
                <div class="weui_cell_ft">
                    <input type="radio" name="radio1" class="weui_check" id="x12" value="3" checked="checked">
                    <span class="weui_icon_checked"></span>
                </div>
            </label>
        </div>
        <style>
            .weui_btn_primary {
                background-color: #007AFF;
            }

            .weui_btn_primary:not(.weui_btn_disabled):active {
                color: rgba(255, 255, 255, 0.4);
                background-color: #065fc1;
            }
        </style>
        <div class="weui_cells_title">当前静态<em>{$member_info['predeposit']|price_format}</em></div>
        <div class="weui_cells weui_cells_form">
            <div class="weui_cell">
                <div class="weui_cell_hd"><label class="weui_label">金额</label></div>
                <div class="weui_cell_bd weui_cell_primary">
                    <input class="weui_input" id="amount" name="amount" type="number" placeholder="请输入充值金额(元)">
                </div>
            </div>
        </div>
        <!--<div class="weui_cells_title">温馨提示：每天最多充值10000元</div>-->
        <div class="weui_btn_area">
            <a class="weui_btn weui_btn_primary" href="javascript:submitOrder(3);">确定</a>
            <input type="hidden" id="pay_type" name="pay_type" value="0">
        </div>
    </form>
    <!-- flexd nav -->
    {:W('Menu/footer_nav')}
</div>
<script>
    function submitOrder(pay_type)
    {
        //提交
        var pay_type = $("#pay_type").val(pay_type);
        if (pay_type == 0)
        {
            alert('请选择支付方式');
            return false;
        }
        $("#mainForm").submit();
    }
</script>
<include file="Public:footer"/>