<include file="Public:header"/>
<div class="top-nav"><a class="on" href="{:U('Login/index')}">登陆</a><a href="{:U('Login/register')}">注册</a></div>
<div class="wrap">
	<form method="post" id="mainForm">
		<div class="form-con">
			<ul>
				<li><input type="tel" id="account" name="account" placeholder="请输入手机号"></li>
				<li><input type="password" id="pwd" name="pwd"  placeholder="请输入登录密码"></li>
				<li><a class="submit" href="JavaScript:submitForm();">登陆</a></li>
			</ul>
			<div class="tail"><label><input type="checkbox">记住账号</label> <a class="w-pw" href="#">忘记密码？</a></div>
		</div>
	</form>
</div>
</body>
<script>
	function submitForm()
	{
		//验证
		var account = $.trim($('#account').val());
		var pwd = $.trim($('#pwd').val());
		if (account == '' || pwd == '')
		{
			alert('请填写必填信息');
			return false;
		}
		$('#mainForm').submit();
	}
</script>
<include file="Public:footer"/>