<include file="Public:header"/>
<body>
{:W('Nav/top')}
<div class="all">
    {:W('Member/menu')}
    <div class="member-2 right">
        <p class="member-tit">订单详情</p>
        <div class="line-1"></div>
        <div class="order-detail-a">
            <img src="__IMG__/kuaidi.jpg" alt="">
            <p class="order-detail-p">待支付</p>
            <ul class="order-detail-ul massage-range">
                <li><i class=" icon-user"></i><span>收货人:</span> {$info['OrderAddress']['true_name']}</li>
                <li><i class=" icon-tablet"></i><span>联系方式:</span> {$info['OrderAddress']['mob_phone']}</li>
                <li><i class=" icon-map-marker"></i><span>收货地址:</span>
                    {$info['OrderAddress']['prov_id']|getDistrictName}
                    {$info['OrderAddress']['city_id']|getDistrictName}
                    {$info['OrderAddress']['area_id']|getDistrictName} {$info['OrderAddress']['address']}
                </li>
                <li><i class=" icon-time"></i><span>订单时间:</span> {$info['add_time']|date='Y-m-d',###}</li>
                <li><i class="icon-barcode"></i><span>订单编号:</span> {$info['order_sn']}</li>
            </ul>
            <div class="clear"></div>
        </div>
        <volist name="info['OrderGoods']" id="vo">
            <div class="order-mu2 left">
                <div class="order-product left">
                    <img src="__UPLOADS__/{$vo['goods_image']}" alt="" width="15%">
                    <span class="order-product-p">{$vo['goods_name']}</span>
                    <span class="order-product-mon">{$vo['goods_price']|price_format}</span>
                    <span class="order-product-mon">×{$vo['goods_num']}</span>
                </div>
                <div class="order-product2">
                    <ul class="order-buy">
                        <li class="left order-buy-1">{$vo['goods_num']*$vo['goods_price']|price_format}</li>
                    </ul>
                </div>
            </div>
        </volist>
    </div>
</div>
<div class="clear"></div>
<include file="Public:footer"/>