<include file="Public:header"/>
<body>
{:W('Nav/top')}
<div class="container">
    <div class="row">
        <form action="{:U('creatOrder')}" method="post" id="form">
            <div class="col-xs-12 col-md-12 member-t">
                <h4>请选择收货地址</h4>
                <div class="row">
                    <volist name="address" id="vo">
                        <div class="addbtn col-xs-3 col-md-3">
                            <div class="add-address" onclick="JavaScript:changeAddsId({$vo['addr_id']});">
                                <div class="row">
                                    <div class="col-xs-6 col-md-6"><p class="name">{$vo['name']}</p></div>
                                    <div class="col-xs-6 col-md-6"><p class="home">{$vo['addr_tag']}</p></div>
                                </div>
                                <div class="add-line"></div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="add_information">
                                            <p>{$vo['mobile']}</p>
                                            <p>{$vo['province_id']|getDistrictName} {$vo['city_id']|getDistrictName} {$vo['area_id']|getDistrictName}</p>
                                            <p>{$vo['addr']}({$vo['zip']})</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </volist>
                    <div class="col-xs-3 col-md-3">
                        <div class="add-address add-img1" onclick="address_form_show();">
                            <img src="__IMG__/add_cart.png" alt="">
                            <p>新增收货地址</p>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    <div class="col-xs-12 col-md-12 member-t">
        <h4>选择支付方式</h4>
        <div class="row">
            <div class="col-xs-12 col-md-12 text-1">
                <label for="pay1"><input id="pay1" type="radio" name="pay_type" value="1"><!--<img src="__IMG__/zfb_pay.png" alt="">-->支付宝</label>
                <label for="pay2"><input id="pay2" type="radio" name="pay_type" value="2"><!--<img src="__IMG__/p2.jpg" width="20%" alt="">-->百度支付</label>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-12 member-t">
        <h4>我的购物车(<span id="goods_count">{:count($list)}</span>)</h4>
        <div class="row cart-t-bg">
            <div class="col-xs-5 col-md-5">
                <div class="logo-r-cb">
                    <span>商品</span>
                </div>
            </div>
            <div class="col-xs-7 col-md-7">
                <ul class="cart-list">
                    <li>&nbsp</li>
                    <li>单价</li>
                    <li>数量</li>
                    <li>折扣价</li>
                    <li>小计（元）</li>
                </ul>
            </div>
        </div>
        <volist name="list" id="vo">
            <div class="row cart-m">
                <div class="col-xs-5 col-md-5">
                    <a href="{:U('Goods/detail',array('goods_id'=>$vo['goods_id']))}" target="_blank" class="link-c">
                        <img src="__UPLOADS__/{$vo['goods_pic']}" alt="" width="8%">
                        <span class="order-details-m">{$vo['goods_name']}</span>
                    </a>
                </div>
                <div class="col-xs-7 col-md-7">
                    <div class="cart-r">
                        <ul class="cart-list cart-list-1">
                            <li>&nbsp</li>
                            <li>{:price_format($vo['goods_price'])}</li>
                            <li>{$vo['goods_num']}</li>
                            <li>{:price_format($vo['goods_price']*(get_discount($vo['num'])))}</li>
                            <li>{:price_format($vo['goods_price']*$vo['goods_num']*(get_discount($vo['goods_num'])))}元</li>
                        </ul>
                    </div>
                </div>
            </div>
        </volist>
        <div class="mem-right-line"></div>
    </div>
    <div class="row cart-sum">
        <div class="clear"></div>
        <div class="col-xs-5 col-md-5">
            <p>总计:</p>
        </div>
        <div class="col-xs-5 col-md-5">
            <p><span class="total">{$amount}</span>元</p>
        </div>
        <div class="col-xs-7 col-md-5 cart-pay">
            <input id="s_addr_id" name="s_addr_id" type="hidden" value=""/>
            <input id="point" type="hidden" name="point" value="0"/>
            <a id="form-submit" class="btn-primary" onclick="JavaScript:form_submit();">支付订单</a>
        </div>
    </div>
    </form>
    <div class="col-xs-4 col-md-4">
        <div class="add-1-bg">
            <div class="add-1" id="address_form" style="display:none;">
                <form action="" method="post" class="addressEdit abs">
                    <input id="addr_id" name="addr_id" type="hidden" value="{$def_addr_id}"/>
                    <input type="text" placeholder="Full Name" class="add-in" name="name" id="addr_name">
                    <input type="text" placeholder="Phone No." class="add-in" name="mobile" id="addr_mobile">
                    <textarea id="addr" name="addr" placeholder="Address"></textarea>
                    <input id="addr_tag" type="text" name="addr_tag" placeholder="tag" class="add-in">
                    <input type="submit" value="Confirm" class="add-in add-b-c">
                    <a onclick="address_form_close();" class="close">×</a>
                </form>
            </div>
        </div>
    </div>
</div>
</div>
<script>
    function address_form_close()
    {
        $("#address_form").css("display","none");
    }
    function address_form_show()
    {
        $("#address_form").css("display","block");
    }
</script>
<script>
    $(function(){
        $(".add-address").click(function(){
            $(".add-address").removeAttr('style');
            $(this).css({"border-color":'red'});
        });
        /*$('.add-address').eq(0).css({"border-color":'red'});*/
        changDistrict();
    });
    function form_submit()
    {
        var addr_id = $("#s_addr_id").val();
        var pay_type = $('input[name="pay_type"]:checked').val();
        if (addr_id == 0){
            alert('请选择收货地址.');
            return false;
        }
        if (pay_type == null){
            alert('请选择支付方式.');
            return false;
        }
        $("#form").submit();
    }
    function address(){
        var addr_id = $("#addr_id").val();
        var name = $("#addr_name").val();
        var mobile = $("#addr_mobile").val();
        var province = $("#province").val();
        var city = $("#city").val();
        var area = $("#area").val();
        var addr = $("#addr").val();
        var zip = $("#zip").val();
        var addr_tag = $("#addr_tag").val();
        var URL = "{:U('curdAddress')}";
        var data = {'addr_id':addr_id,'name':name,'mobile':mobile,'province':province,'city':city,'area':area,'addr':addr,'zip':zip,'addr_tag':addr_tag};
        $.post(URL,data,function(res){
            $(".address").removeClass('current');
            var address_html = '<div class="address fl current" addr_id="'+res.addr_id+'">';
            address_html += '<h3>'+name+' <a href="#" class="fr">'+addr_tag+'</a></h3>';
            address_html += '<p>'+mobile+'</p>';
            address_html += '<p>'+res.province+' '+res.city+' '+res.area+'</p>';
            address_html += '<p>'+addr+'('+zip+')</p>';
            address_html += '</div>';
            $("#addr_id").val(res.addr_id);
            $("#addressBtn").before(address_html);
            $(".addressNew").slideUp();
            $(".foot").after("<script src='/zuoxika/Public/Home/js/main.js'>");
        },"json");
    }
    function getDistrict(id){
        var data = {"id":id};
        var URL = "{:U('getDistrict')}";
        $.post(URL,data,function(json){
            if (json.level == 'city'){
                $("#city").remove();
                var city_html = '<select name="city" id="city"><option value="">城市/地区/自治州</option>';
                for (i=0;i<json.city.length;i++){
                    city_html += '<option value="'+json.city[i].id+'">'+json.city[i].name+'</option>';
                }
                city_html += '</select>';
                $("#province").after(city_html);
                $("#area").remove();
                var area_html = '<select name="area" id="area"><option value="">区/县</option>';
                area_html += '</select>';
                $("#city").after(area_html);
            }
            if (json.level == 'area'){
                $("#area").remove();
                var area_html = '<select name="area" id="area"><option value="">区/县</option>';
                for (i=0;i<json.city.length;i++){
                    area_html += '<option value="'+json.city[i].id+'">'+json.city[i].name+'</option>';
                }
                area_html += '</select>';
                $("#city").after(area_html);
            }
            changDistrict();
        },"json");
    }
    function changDistrict(){
        $("#province").change(function(){
            getDistrict($(this).val());
        });
        $("#city").change(function(){
            getDistrict($(this).val());
        });
    }
    function delAddress(id){
        var data = {"id":id};
        var URL = "{:U('delAddress')}";
        $.post(URL,data,function(res){
            if (res == 1){
                alert('删除地址成功');
            }else {
                alert('删除地址失败');
            }
            window.location.reload()
        });
    }
    function changeAddsId(addr_id)
    {
        $("#s_addr_id").val(addr_id);
    }
</script>
<script>
    $(function(){
        var amount = "{$amount}";
        var lastAmount = amount;
        if($(".zk").is(":checked")){
            var dikou = $(".dikou").html();
            $("#point").val(dikou);
            lastAmount = amount*1-dikou*1;
        }
        $(".total").html(lastAmount);

        $(".zk").click(function(){
            if($(".zk").is(":checked")){
                var dikou = $(".dikou").html();
                $("#point").val(dikou);
                lastAmount = amount*1-dikou*1;
            }else {
                $("#point").val(0);
                lastAmount = amount;
            }
            $(".total").html(lastAmount);
        });
    });
</script>
<!--foot-->
<include file="Public/footer"/>