<include file="Public:header"/>
{:W('Nav/top')}
<div class="clear"></div>
<div class="logosearchbg">
    <div class="all">
        <div class="logo">
            <a href=""><img src="__IMG__/logo.jpg" alt="" width="200px" height="70px"></a>
        </div>
        <div class="navigationbar">
            <ul>
                <a href="" class="colorstyle">
                    <li>首页</li>
                </a>
                <a href="">
                    <li>超值减</li>
                </a>
                <a href="">
                    <li>港货特卖</li>
                </a>
                <a href="">
                    <li>9块9</li>
                </a>
                <a href="">
                    <li>外卖</li>
                </a>
                <a href="">
                    <li>商城返利</li>
                </a>
            </ul>
        </div>
        <div class="search">
            <div class="search-text">
                <form action=" " method="get">
                    <input type="search" placeholder="  搜索立减" name="" class="search-1">
                    <div class="searchicon">
                        <a href=""><i class="icon-search icon-2x"></i></a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="line"></div>
<div class="all">

    <div class="location">
        <span><a href="">淘货吧</a></span> &nbsp>&nbsp
        <span><a href="">家居数码</a></span> &nbsp>&nbsp
        <span><a href="">生活家电</a></span> &nbsp>&nbsp
        <span><a href="">插线板插座插排 安全可靠</a></span>
    </div>
    <div class="left">
        <div class="productdetails">
            <div class="productdetails-m">
                <div>
                    <h3>【包邮】<a href=""> 插线板插座插排 安全可靠</a></h3>
                    <div class="productdetails-1">
                        <img src="__IMG__/商品1.jpg" alt="" width="280px;">
                        <div class="pricelist">
                            <h4 class="pricelist-1">原价 : <span>¥<em>26</em>元</span></h4>
                            <h4 class="pricelist-2">会员价 : <span>¥<em>26</em> 元<i>10折</i></span></h4>
                            <h4 class="pricelist-3">剩余时间 : <span>8天10小时9分55秒</span></h4>
                            <a href=""><h4 class="pricelist-4">去天猫抢购</h4></a>
                        </div>
                    </div>
                    <div class="productdetails-2">
                        <a href=""><i class="icon-star">收藏</i></a>
							<span class="share-i"><i class="icon-share">分享</i>
								<div class="share" style="display:none;">
                                    <a href=""><img src="__IMG__/qq.png" alt="" height="25px;"></a>
                                    <a href=""><img src="__IMG__/wx.png" alt="" height="25px;"></a>
                                    <a href=""><img src="__IMG__/wb.png" alt="" height="25px;"></a>
                                </div>
							</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="guesslike">
            <h2 class="guesslike-title">猜你喜欢</h2>
            <
            <div class="showcase">
                <a href=""><img src="__IMG__/s1.jpg" alt="" width="230px;" height="190px;"></a>
                <a href=""><span class="sc-t-1">手机配饰</span></a>
                <div class="clear"></div>
                <div class="showcase-text">
                    <p class="sc-t-3">¥8</p>
                    <a href=""><i class="sc-t-4">已售44件</i></a>
                </div>
            </div>
            <div class="showcase">
                <a href=""><img src="__IMG__/s1.jpg" alt="" width="230px;" height="190px;"></a>
                <a href=""><span class="sc-t-1">手机配饰</span></a>
                <div class="clear"></div>
                <div class="showcase-text">
                    <p class="sc-t-3">¥8</p>
                    <a href=""><i class="sc-t-4">已售44件</i></a>
                </div>
            </div>
            <div class="showcase">
                <a href=""><img src="__IMG__/s1.jpg" alt="" width="230px;" height="190px;"></a>
                <a href=""><span class="sc-t-1">手机配饰</span></a>
                <div class="clear"></div>
                <div class="showcase-text">
                    <p class="sc-t-3">¥8</p>
                    <a href=""><i class="sc-t-4">已售44件</i></a>
                </div>
            </div>
            <div class="showcase">
                <a href=""><img src="__IMG__/s1.jpg" alt="" width="230px;" height="190px;"></a>
                <a href=""><span class="sc-t-1">手机配饰</span></a>
                <div class="clear"></div>
                <div class="showcase-text">
                    <p class="sc-t-3">¥8</p>
                    <a href=""><i class="sc-t-4">已售44件</i></a>
                </div>
            </div>
            <div class="showcase">
                <a href=""><img src="__IMG__/s1.jpg" alt="" width="230px;" height="190px;"></a>
                <a href=""><span class="sc-t-1">手机配饰</span></a>
                <div class="clear"></div>
                <div class="showcase-text">
                    <p class="sc-t-3">¥8</p>
                    <a href=""><i class="sc-t-4">已售44件</i></a>
                </div>
            </div>
            <div class="showcase">
                <a href=""><img src="__IMG__/s1.jpg" alt="" width="230px;" height="190px;"></a>
                <a href=""><span class="sc-t-1">手机配饰</span></a>
                <div class="clear"></div>
                <div class="showcase-text">
                    <p class="sc-t-3">¥8</p>
                    <a href=""><i class="sc-t-4">已售44件</i></a>
                </div>
            </div>
            <div class="showcase">
                <a href=""><img src="__IMG__/s1.jpg" alt="" width="230px;" height="190px;"></a>
                <a href=""><span class="sc-t-1">手机配饰</span></a>
                <div class="clear"></div>
                <div class="showcase-text">
                    <p class="sc-t-3">¥8</p>
                    <a href=""><i class="sc-t-4">已售44件</i></a>
                </div>
            </div>
            <div class="showcase">
                <a href=""><img src="__IMG__/s1.jpg" alt="" width="230px;" height="190px;"></a>
                <a href=""><span class="sc-t-1">手机配饰</span></a>
                <div class="clear"></div>
                <div class="showcase-text">
                    <p class="sc-t-3">¥8</p>
                    <a href=""><i class="sc-t-4">已售44件</i></a>
                </div>
            </div>
            <div class="showcase">
                <a href=""><img src="__IMG__/s1.jpg" alt="" width="230px;" height="190px;"></a>
                <a href=""><span class="sc-t-1">手机配饰</span></a>
                <div class="clear"></div>
                <div class="showcase-text">
                    <p class="sc-t-3">¥8</p>
                    <a href=""><i class="sc-t-4">已售44件</i></a>
                </div>
            </div>
        </div>

        <div class="looklike">
            <h2 class="guesslike-title">看了此商品的用户还看</h2>
            <div class="showcase">
                <a href=""><img src="__IMG__/s1.jpg" alt="" width="230px;" height="190px;"></a>
                <a href=""><span class="sc-t-1">手机配饰</span></a>
                <div class="clear"></div>
                <div class="showcase-text">
                    <p class="sc-t-3">¥8</p>
                    <a href=""><i class="sc-t-4">已售44件</i></a>
                </div>
            </div>
            <div class="showcase">
                <a href=""><img src="__IMG__/s1.jpg" alt="" width="230px;" height="190px;"></a>
                <a href=""><span class="sc-t-1">手机配饰</span></a>
                <div class="clear"></div>
                <div class="showcase-text">
                    <p class="sc-t-3">¥8</p>
                    <a href=""><i class="sc-t-4">已售44件</i></a>
                </div>
            </div>
            <div class="showcase">
                <a href=""><img src="__IMG__/s1.jpg" alt="" width="230px;" height="190px;"></a>
                <a href=""><span class="sc-t-1">手机配饰</span></a>
                <div class="clear"></div>
                <div class="showcase-text">
                    <p class="sc-t-3">¥8</p>
                    <a href=""><i class="sc-t-4">已售44件</i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="right">
        <div class="hottags">
            <h3 class="hottags-title">热门标签</h3>
            <div class="hottags-1">
                <a href="">猫粮</a>
                <a href="">猫粮</a>
                <a href="">猫粮</a>
                <a href="">猫粮</a>
                <a href="">猫粮</a>
                <a href="">猫粮</a>
                <a href="">猫粮123</a>
                <a href="">猫粮</a>
                <a href="">猫粮</a>
                <a href="">猫粮</a>
                <a href="">猫粮</a>
            </div>
        </div>
        <div class="hotcase">
            <h3 class="hottags-title">人气商品</h3>
            <div class="showcase5">
                <a href=""><img src="__IMG__/s1.jpg" alt="" width="220px" height="190px"></a>
                <a href=""><span class="sc-t-1">手机配饰</span></a>
                <div class="clear"></div>
                <div class="showcase-text">
                    <p class="sc-t-3">¥8</p>
                    <a href=""><i class="sc-t-4">已售44件</i></a>
                </div>
            </div>
            <div class="showcase5">
                <a href=""><img src="__IMG__/s1.jpg" alt="" width="220px" height="190px"></a>
                <a href=""><span class="sc-t-1">手机配饰</span></a>
                <div class="clear"></div>
                <div class="showcase-text">
                    <p class="sc-t-3">¥8</p>
                    <a href=""><i class="sc-t-4">已售44件</i></a>
                </div>
            </div>
            <div class="showcase5">
                <a href=""><img src="__IMG__/s1.jpg" alt="" width="220px" height="190px"></a>
                <a href=""><span class="sc-t-1">手机配饰</span></a>
                <div class="clear"></div>
                <div class="showcase-text">
                    <p class="sc-t-3">¥8</p>
                    <a href=""><i class="sc-t-4">已售44件</i></a>
                </div>
            </div>
            <div class="showcase5">
                <a href=""><img src="__IMG__/s1.jpg" alt="" width="220px" height="190px"></a>
                <a href=""><span class="sc-t-1">手机配饰</span></a>
                <div class="clear"></div>
                <div class="showcase-text">
                    <p class="sc-t-3">¥8</p>
                    <a href=""><i class="sc-t-4">已售44件</i></a>
                </div>
            </div>
            <div class="showcase5">
                <a href=""><img src="__IMG__/s1.jpg" alt="" width="220px" height="190px"></a>
                <a href=""><span class="sc-t-1">手机配饰</span></a>
                <div class="clear"></div>
                <div class="showcase-text">
                    <p class="sc-t-3">¥8</p>
                    <a href=""><i class="sc-t-4">已售44件</i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="clear"></div>
<include file="Public:footer"/>