<include file="Public:header"/>
<body>
{:W('Nav/top')}
<div class="all">
    <div class="location">
        <volist name="all_goods_class" id="vo">
            <span><a href="{:U('Goods/index',array('cate'=>$vo['gc_id']))}">{$vo['gc_name']}</a></span> &nbsp>&nbsp
        </volist>
        <span><a href="{:U('Goods/detail',array('goods_id'=>$goods['goods_id']))}">{$goods['goods_name']}</a></span>
    </div>
</div>
<div class="goodsshow1">
    <div class="all">
        <div class="con-FangDa" id="fangdajing">
            <div class="con-fangDaIMg">
                <!-- 正常显示的图片-->
                <img src="__UPLOADS__/{$goods['goods_pic']}">
                <!-- 滑块-->
                <div class="magnifyingBegin"></div>
                <!-- 放大镜显示的图片 -->
                <div class="magnifyingShow"><img src="__UPLOADS__/{$goods['goods_pic']}"></div>
            </div>
            <ul class="con-FangDa-ImgList">
                <!-- 图片显示列表 -->
                <li class="active"><img src="__UPLOADS__/{$goods['goods_pic']}"
                                        data-bigimg="__UPLOADS__/{$goods['goods_pic']}"></li>
                <volist name="goods['GoodsPic']" id="vo" key="key">
                    <li><img src="__UPLOADS__/{$vo['pic']}" data-bigimg="__UPLOADS__/{$vo['pic']}"></li>
                </volist>
            </ul>
            <div class="productdetails-2">
                <a href="JavaScript:collect({$goods['goods_id']},'goods');"><i class="icon-star">收藏</i></a>
                    <span class="share-i"><i class="icon-share">分享</i>
                        <div class="share" style="display:none;">
                            <a href=""><img src="__IMG__/qq.png" alt="" height="25px;"></a>
                            <a href=""><img src="__IMG__/wx.png" alt="" height="25px;"></a>
                            <a href=""><img src="__IMG__/wb.png" alt="" height="25px;"></a>
                        </div>
                    </span>
            </div>
        </div>
        <div class="goodsshow-massge">
            <h2>{$goods['goods_name']}</h2>
            <p class="goodsshow-m-l-c">{$goods['goods_desc']}</p>
            <div class="goodsshow-t-m">
                <p class="g-t-m-1">价格<span>¥<em>{$goods['goods_mkprice']|price_format}</em></span></p>
                <p class="g-t-m-2">淘货价<em>{$goods['goods_price']|price_format}</em></p>
                <span class="goodsshow-t-sales">销量 <em>{$goods['goods_sales']}</em> 件</span>
                <p class="g-t-m-1">积分<span><i>{$goods['goods_point']}</i></span></p>
            </div>
            <div class="goodsshow-c">
                <div class="goodsshow-c-1">
                    <span>运费</span>
                    <div class="goodsshow-c-2">
                        <span class="store-area">广东 深圳 &nbsp;&nbsp;至</span>
                        <span class="area-choice">广东<i class=" icon-chevron-down"></i></span>
                        <span class="area-money">免运费</span>
                    </div>
                    <div class="clear"></div>
                </div>
                <notempty name="goods['GoodsSpec']">
                    <div class="goodsshow-c-1">
                        <span>规格</span>
                        <div class="goodsshow-c-2 goodsshow-c-w">
                            <ul class="goodsshow-c-ul">
                                <volist name="goods['GoodsSpec']" id="vo">
                                    <li class="spec" id="spec_{$vo['spec_id']}" onclick="selectSpec({$vo['spec_id']});">{$vo['spec_name']}</li>
                                </volist>
                            </ul>
                        </div>
                        <div class="clear"></div>
                    </div>
                </notempty>
                <div class="goodsshow-c-1">
                    <span>数量</span>
                    <div class="goodsshow-c-3">
                        <input type="button" value="-" class="goodsshow-c-2-b reduce">
                        <input type="text" id="num" value="1" class="goodsshow-c-2-n num">
                        <input type="button" value="+" class="goodsshow-c-2-b add">
                    </div>
                    <input type="hidden" id="spec_id" name="spec_id" value="0">
                    <input type="hidden" id="goods_stock" name="goods_stock" value="{$goods['goods_storage']}">
                    <div class="clear"></div>
                </div>
                <div class="buy-button-m">
                    <button class="buy-button buy-b-c-1" onclick="addCart({$goods['goods_id']})">加入购物车</button>
                    <button class="buy-button buy-b-c-2" onclick="buy({$goods['goods_id']})">立即购买</button>
                </div>
            </div>
        </div>
        <div class="store-information">
            <b class="store-name"><a href="">友博化妆品特卖店</a></b>
            <div class="line-3"></div>
            <p class="store-reputation">信誉： <span class="store-i-i"><i class="reputation-icon1"></i><i
                    class="reputation-icon2"></i>
				<i class="reputation-icon3"></i><i class="reputation-icon4"></i></span></p>
            <div class="line-3"></div>
            <p class="store-reputation">资质 :  <span class="store-i-i"><i class="aptitude-icon-1"></i><i
                    class="aptitude-icon-2"></i>
				<i class="aptitude-icon-3"></i></span></p>
            <div class="line-3"></div>
            <div class="store-s-a">
                <div class="store-score s-s-1">
                    <p>描述</p>
                    <em>4.8<b class="overtop">↑</b></em>
                </div>
                <div class="store-score">
                    <p>服务</p>
                    <em>4.7<b class="under">↓</b></em>
                </div>
                <div class="store-score s-s-2">
                    <p>发货</p>
                    <em>4.8<b class="overtop">↑</b></em>
                </div>
            </div>
            <div class="clear"></div>
            <div class="store-more">
                <a href="" target="_blank" class="store-enter">进入店铺</a>
                <a href="" class="store-enter">收藏店铺</a>
            </div>
        </div>
        <div class="clear"></div>
        <div class="left">
            <div class="hottags">
                <h3 class="hottags-title">热门标签</h3>
                <div class="hottags-1">
                    <a href="">猫粮</a>
                    <a href="">猫粮</a>
                    <a href="">猫粮</a>
                    <a href="">猫粮</a>
                    <a href="">猫粮</a>
                    <a href="">猫粮</a>
                    <a href="">猫粮123</a>
                    <a href="">猫粮</a>
                    <a href="">猫粮</a>
                    <a href="">猫粮</a>
                    <a href="">猫粮</a>
                </div>
            </div>
            <div class="hotcase">
                <h3 class="hottags-title">人气商品</h3>
                <div class="showcase5">
                    <a href=""><img src="__IMG__/s1.jpg" alt="" width="220px" height="190px"></a>
                    <a href=""><span class="sc-t-1">手机配饰</span></a>
                    <div class="showcase-text">
                        <p class="sc-t-3">¥8</p>
                        <a href=""><i class="sc-t-4">已售44件</i></a>
                    </div>
                </div>
                <div class="showcase5">
                    <a href=""><img src="__IMG__/s1.jpg" alt="" width="220px" height="190px"></a>
                    <a href=""><span class="sc-t-1">手机配饰</span></a>
                    <div class="showcase-text">
                        <p class="sc-t-3">¥8</p>
                        <a href=""><i class="sc-t-4">已售44件</i></a>
                    </div>
                </div>
                <div class="showcase5">
                    <a href=""><img src="__IMG__/s1.jpg" alt="" width="220px" height="190px"></a>
                    <a href=""><span class="sc-t-1">手机配饰</span></a>
                    <div class="showcase-text">
                        <p class="sc-t-3">¥8</p>
                        <a href=""><i class="sc-t-4">已售44件</i></a>
                    </div>
                </div>
                <div class="showcase5">
                    <a href=""><img src="__IMG__/s1.jpg" alt="" width="220px" height="190px"></a>
                    <a href=""><span class="sc-t-1">手机配饰</span></a>
                    <div class="showcase-text">
                        <p class="sc-t-3">¥8</p>
                        <a href=""><i class="sc-t-4">已售44件</i></a>
                    </div>
                </div>
                <div class="showcase5">
                    <a href=""><img src="__IMG__/s1.jpg" alt="" width="220px" height="190px"></a>
                    <a href=""><span class="sc-t-1">手机配饰</span></a>
                    <div class="showcase-text">
                        <p class="sc-t-3">¥8</p>
                        <a href=""><i class="sc-t-4">已售44件</i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="detail-tab right">
            <ul class="tabs">
                <li class="active-tab"><a href="#tab1">宝贝详情</a></li>
            </ul>
            <div class="clear"></div>
            <div class="tab_container tab-l">
                <div id="tab1" class="tab_content" style="display: block;">
                    <p class="tab_tit"><em>●</em><strong>商品参数</strong></p>
                    {$goods['goods_body']}
                </div>
            </div>
            <div class="clear"></div>
            <div class="looklike">
                <h2 class="guesslike-title">看了此商品的用户还看</h2>
                <div class="showcase">
                    <a href=""><img src="__IMG__/s1.jpg" alt="" width="230px;" height="190px;"></a>
                    <a href=""><span class="sc-t-1">手机配饰</span></a>
                    <div class="clear"></div>
                    <div class="showcase-text">
                        <p class="sc-t-3">¥8</p>
                        <a href=""><i class="sc-t-4">已售44件</i></a>
                    </div>
                </div>
                <div class="showcase">
                    <a href=""><img src="__IMG__/s1.jpg" alt="" width="230px;" height="190px;"></a>
                    <a href=""><span class="sc-t-1">手机配饰</span></a>
                    <div class="clear"></div>
                    <div class="showcase-text">
                        <p class="sc-t-3">¥8</p>
                        <a href=""><i class="sc-t-4">已售44件</i></a>
                    </div>
                </div>
                <div class="showcase">
                    <a href=""><img src="__IMG__/s1.jpg" alt="" width="230px;" height="190px;"></a>
                    <a href=""><span class="sc-t-1">手机配饰</span></a>
                    <div class="clear"></div>
                    <div class="showcase-text">
                        <p class="sc-t-3">¥8</p>
                        <a href=""><i class="sc-t-4">已售44件</i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clear"></div>
</div>
<div class="clear"></div>
<script type="text/javascript">
    $(function () {
        $(".weixin1").hover(function () {
            $(".wx1").toggle();
        });
    });
    $(function () {
        $(".share-i").hover(function () {
            $(".share").toggle();
        });
    });

    var oNum = $('.num').val();
    var goods_stock = $("#goods_stock").val();
    $('.reduce').click(function () {
        if (oNum >= 2) {
            oNum--;
            $('.num').val(oNum);
        }
    });
    $('.add').click(function () {
        if (oNum < goods_stock)
        {
            oNum++;
            $('.num').val(oNum);
        }
    });
    $(document).ready(function () {
    });
    /* 图片滚动效果 */
    $(".mr_frbox").slide({
        titCell: "",
        mainCell: ".mr_frUl ul",
        autoPage: true,
        effect: "leftLoop",
        autoPlay: true,
        vis: 4
    });
    $(document).ready(function () {
        //Default Action
        $(".tab_content").hide(); //Hide all content
        $("ul.tabs li:first").addClass("active-tab").show(); //Activate first tab
        $(".tab_content:first").show(); //Show first tab content
        //On Click Event
        $("ul.tabs li").click(function () {
            $("ul.tabs li").removeClass("active-tab"); //Remove any "active" class
            $(this).addClass("active"); //Add "active" class to selected tab
            $(".tab_content").hide(); //Hide all tab content
            var activeTab = $(this).find("a").attr("href"); //Find the rel attribute value to identify the active tab + content
            $(activeTab).fadeIn(); //Fade in the active content
            return false;
        });
    });
    function pro_form_close() {
        $("#pro-show-s").css("display", "none");
    }
    function pro_form_show() {
        $("#pro-show-s").css("display", "block");
    }
</script>
<script>
    function selectSpec(spec_id) {
        $(".select_spec").removeClass('select_spec');
        $(".select_spec").addClass('spec');
        $("#spec_"+spec_id).addClass('select_spec');
        $("#spec_id").val(spec_id);
    }
    function addCart(goods_id){
        var num = $("#num").val();
        var spec_id = $("#spec_id").val();
        var URL= "{:U('Cart/addCart')}";
        var data = {"goods_id":goods_id,"num":num,"spec_id":spec_id};
        $.post(URL,data);
    }
    function buy(goods_id){
        var URL= "{:U('buy')}";
        var spec_id = $("#spec_id").val();
        var goods_num = $("#num").val();
        var data = {"goods_id":goods_id,"goods_num":goods_num,"spec_id":spec_id};
        $.post(URL,data,function(result){
            if (result.code != 200){
                alert(result.msg);
            }else {
                window.location.href = "/Cart/autoBuy/goods_id/"+goods_id;
            }
        },"json");
    }
    function collect(id,type){
        var URL= "{:U('collect')}";
        var data = {"id":id,"type":type};
        $.post(URL,data,function(result){
            alert(result.msg);
        },"json");
    }
</script>
<include file="Public:footer"/>