<include file="Public:header"/>
<body>
{:W('Nav/top')}
<div class="all">
    {:W('Member/menu')}
    <div class="member-2 right">
        <p class="member-tit">消息中心</p>
        <div class="line-1"></div>
        <notempty name="list">
            <volist name="list" id="vo">
                <div class="inline-mem order-mu">
                    <span class="order-time messagecenter-title">来自淘货吧的消息</span>
                    <span class="order-time right">{$vo['notice_time']|date='Y-m-d H:i:s',###}</span>
                </div>
                <div class="order-mu2">
                    <a href="{:U('Message/detail')}">
                        <p class="messagecenter-text messagecenter-text3">{$vo['notice_title']}</p>
                        <p class="order-time messagecenter-text2 messagecenter-text3">
                            {$vo['notice_desc']}
                        </p>
                    </a>
                </div>
            </volist>
            <div class="crucis-page">{$page}</div>
        <else/>
            <div class="crucis-page">没有找到相关信息.</div>
        </notempty>
    </div>
</div>
<div class="clear"></div>
<include file="Public:footer"/>