<include file="Public/header" />
<div class="page">
  <div class="fixed-bar">
    <div class="item-title">
      <h3>产品管理</h3>
      <ul class="tab-base">
        <li><a href="{:U('index')}"><span>管理</span></a></li>
        <li><a href="JavaScript:void(0);" class="current"><span>编辑</span></a></li>
      </ul>
    </div>
  </div>
  <div class="fixed-empty"></div>
  <form id="bank_form" method="post" name="bank_form" enctype="multipart/form-data">
  <input name="bank_id" type="hidden" value="{$info['bank_id']}"/>
    <table class="table tb-type2 nobdb">
      <tbody>
        <tr>
          <td colspan="2" class="required"><label class="validation">银行名称:</label></td>
        </tr>
        <tr class="noborder">
          <td class="vatop rowform"><input type="text" value="{$info['bank_name']}" name="bank_name" id="bank_name" class="txt"></td>
          <td class="vatop tips"></td>
        </tr>
        
        <tr class="noborder">
          <td colspan="2" class="required"><label class="validation">排序:</label></td>
        </tr>
        <tr class="noborder">
          <td class="vatop rowform"><input type="text" value="{$info['bank_sort']}" name="bank_sort" id="bank_sort" class="txt"></td>
          <td class="vatop tips"></td>
        </tr>                       
        <tr>
          <td colspan="2" class="required"><label>状态:</label></td>
        </tr>
        <tr class="noborder">
          <td class="vatop rowform onoff"><label for="bank_status1" class='cb-enable <if condition="$info['bank_status'] eq 1">selected</if>'><span>开启</span></label>
            <label for="bank_status0" class='cb-disable <if condition="$info['bank_status'] eq 0">selected</if>'><span>关闭</span></label>
            <input id="bank_status1" name="bank_status" <if condition="$info['bank_status'] eq 1">checked="checked"</if> value="1" type="radio">
            <input id="bank_status0" name="bank_status" <if condition="$info['bank_status'] eq 0">checked="checked"</if> value="0" type="radio"></td>
          <td class="vatop tips"></td>
        </tr>
      </tbody>
      <tfoot>
        <tr class="tfoot">
          <td colspan="15" ><a href="JavaScript:void(0);" class="btn" id="submitBtn"><span>保存</span></a></td>
        </tr>
      </tfoot>
    </table>
  </form>
</div>
<script>
//按钮先执行验证再提交表单
$(function(){$("#submitBtn").click(function(){
    if($("#bank_form").valid()){
     $("#bank_form").submit();
	}
	});
});
//
$(document).ready(function(){
	$('#bank_form').validate({
        errorPlacement: function(error, element){
			error.appendTo(element.parent().parent().prev().find('td:first'));
        },
        success: function(label){
            label.addClass('valid');
        },
        rules : {
			bank_name : {
                required   : true
            },
			bank_sort : {
				number : true
			},			
        },
        messages : {
			bank_name : {
                required   : '请输入银行名称'
            },
			bank_sort : {
				number : '排序格式输入错误'
            },					
        }
    });
	
});
</script>
<script type="text/javascript">
// 模拟网站LOGO上传input type='file'样式
$(function(){
	$("#bank_pic").change(function(){
		$("#txt_bank_pic").val($(this).val());
	});
// 上传图片类型
$('input[class="type-file-file"]').change(function(){
	var filepatd=$(this).val();	
	var extStart=filepatd.lastIndexOf(".");
	var ext=filepatd.substring(extStart,filepatd.lengtd).toUpperCase();		
		if(ext!=".PNG"&&ext!=".GIF"&&ext!=".JPG"&&ext!=".JPEG"){
			alert("图片格式错误");
				$(this).attr('value','');
			return false;
		}
	});
});
</script>
<include file="Public/footer" />