<include file="Public:header"/>
<div class="index-group">
    <div class="header-all">
        <div class="com-header">
            <a class="back-a" href="javascript:history.go(-1)"><i class="head-icon-back">&#xe609;</i></a>填写订单
        </div>
        <div class="dt-top"></div>
    </div>
    <form method="post" action="{:U('Order/creatOrder')}" id="mainForm">
        <div class="order-com">
            <div class="o-info">
                <form class="mui-input-group">
                    <div class="mui-input-row">
                        <label>收件人</label>
                        <input type="text" name="name" placeholder="请输入姓名">
                    </div>
                    <div class="mui-input-row">
                        <label>手机号码</label>
                        <input type="tel" name="mobile" class="mui-input-clear" placeholder="请输入手机号码" data-input-clear="5"><span
                            class="mui-icon mui-icon-clear mui-hidden"></span>
                    </div>
                    <!-- TODO:省市区 -->
                    <!--<select name="province">
                        <option value="">请选择</option>
                        <volist name="province" id="vo">
                            <option value="{$vo['id']}">{$vo['name']}</option>
                        </volist>
                    </select>-->
                    <div class="mui-input-row">
                        <label>详细地址</label>
                        <input type="text" name="address" placeholder="请输入街道">
                    </div>
                </form>
            </div>
            <div class="bord-back"></div>
            <div class="remwrap">
                <volist name="list" id="vo">
                    <div class="product-details clear">
                        <div class="pro_item">
                            <img class="product-img" src="__UPLOADS__/{$vo['Goods']['goods_pic']}" width="60" height="60" alt="">
                        </div>
                        <div>
                            <p class="product-ms">{$vo['Goods']['goods_name']}</p>
                        </div>
                        <div>
                            <p><em class="red">￥{$vo['Goods']['price']|price_format}</em></p>
                            <p>运费：<em>{$vo['Goods']['freight']|price_format}</em></p>
                            <p>数量：<em>{$vo['num']}</em></p>
                        </div>
                    </div>
                </volist>
            </div>
            <div class="price-items">
                <if condition="$amount neq 0">
                    <!--<a class="but" style="background:#04BE02;" href="JavaScript:submitOrder(3);">微信支付</a><br/>-->
                    <a class="but" style="margin-top:10px; background:#10aeff" href="JavaScript:submitOrder(0);">静态支付</a>
                <else/>
                    <a class="but" style="margin-top:10px; background:#10aeff" href="JavaScript:submitOrder(10);">动态支付</a>
                </if>
                <input type="hidden" id="pay_type" name="pay_type" value="0">
            </div>
        </div>
    </form>
</div>
<script>
    function submitOrder(pay_type){
        //TODO:提交验证 为空报错
        $("#pay_type").val(pay_type);
        $("#mainForm").submit();
    }
</script>
<include file="Public:footer"/>
