<include file="Public:header"/>
<body>
{:W('Nav/top')}
<div class="all">
    {:W('Member/menu')}
    <div class="member-2 right">
        <p class="member-tit">基础资料</p>
        <div class="line-1"></div>
        <volist name="list" id="vo">
            <div class="address-mass left">
                <span class="add-name">{$vo['name']}</span><span class="add-home">家</span>
                <div class="line-1"></div>
                <ul>
                    <li>{$vo['mobile']}</li>
                    <li>{$vo['province_id']|getDistrictName} {$vo['city_id']|getDistrictName} {$vo['area_id']|getDistrictName}</li>
                    <li>{$vo['addr']}({$vo['zip']})</li>
                    <li><a class="add-write" onclick="address_form_show();">编辑</a><a href="JavaScript:delAddress({$vo['addr_id']});" class="add-write">删除</a></li>
                </ul>
            </div>
        </volist>
        <div class="address-mass left" onclick="address_form_show();">
            <img src="__IMG__/add_cart.png" alt="" class="add-img">
            <p class="add-p">添加新地址</p>
        </div>
    </div>
    <div class="add-form" id="address_form" style="display:none;">
        <form action="" method="post">
            <input id="addr_id" name="addr_id" type="hidden" value=""/>
            <input id="addr_name" name="name" type="text" placeholder="收货人姓名" class="mem-inde-i add-form_input">
            <input id="addr_mobile" name="mobile" type="text" placeholder="电话号码" class="mem-inde-i add-form_input">
            <select name="province" id="province" class="mem-inde-i add-form_input add-form_input_w">
                <option value="">省份/直辖市/自治区</option>
                <volist name="province" id="vo">
                    <option value="{$vo['id']}">{$vo['name']}</option>
                </volist>
            </select>
            <select name="city" id="city" class="mem-inde-i add-form_input add-form_input_w">
                <option value="">城市/地区/自治州</option>
            </select>
            <select name="area" id="area" class="mem-inde-i add-form_input add-form_input_w">
                <option value="">区/县</option>
            </select>
            <textarea id="addr" name="addr" class="add-form_input" placeholder="路名或街道名称，门牌号"></textarea>
            <input id="zip" type="text" name="zip" placeholder="邮政编码" class="mem-inde-i add-form_input">
            <input id="addr_tag" type="text" name="addr_tag" placeholder="地址标签：如“家”、“公司”" class="mem-inde-i add-form_input">
            <input type="button" value="确认" class="mem-inde-i add-form_input add-form_input_b">
            <div class="clear"></div>
            <a href="JavaScript:void(0);" onclick="address_form_close();"><i class="icon-remove add-close icon-2x"></i></a>
        </form>
    </div>
</div>
<div class="clear"></div>
<script type="text/javascript">
    function address_form_close() {
        $("#address_form").css("display", "none");
    }
    function address_form_show() {
        $("#address_form").css("display", "block");
    }
</script>
<script>
    $(function(){
        changDistrict();
    });
    function getDistrict(id){
        var data = {"id":id};
        var URL = "{:U('getDisctrict')}";
        $.post(URL,data,function(json){
            if (json.level == 'city'){
                $("#city").remove();
                var city_html = '<select name="city" id="city"><option value="">城市/地区/自治州</option>';
                for (i=0;i<json.city.length;i++){
                    city_html += '<option value="'+json.city[i].id+'">'+json.city[i].name+'</option>';
                }
                city_html += '</select>';
                $("#province").after(city_html);
                $("#area").remove();
                var area_html = '<select name="area" id="area"><option value="">区/县</option>';
                area_html += '</select>';
                $("#city").after(area_html);
            }
            if (json.level == 'area'){
                $("#area").remove();
                var area_html = '<select name="area" id="area"><option value="">区/县</option>';
                for (i=0;i<json.city.length;i++){
                    area_html += '<option value="'+json.city[i].id+'">'+json.city[i].name+'</option>';
                }
                area_html += '</select>';
                $("#city").after(area_html);
            }
            changDistrict();
        },"json");
    }
    function changDistrict(){
        $("#province").change(function(){
            getDistrict($(this).val());
        });
        $("#city").change(function(){
            getDistrict($(this).val());
        });
    }
    function delAddress(id){
        var data = {"id":id};
        var URL = "{:U('delAddress')}";
        $.post(URL,data,function(res){
            if (res == 1){
                alert('删除地址成功');
            }else {
                alert('删除地址失败');
            }
            window.location.reload()
        });
    }
</script>
<include file="Public:footer"/>