<include file="Public:header"/>
<!--top-->
{:W('Top/index')}
<!--nav-->
{:W('Nav/index')}
<!--repair-->
<div class="main" style="background-color: #f7f7f7">
    <div class="container">
        <div class="bread">
            <a href="{:U('Index/index')}">首页</a> / <span>会员中心</span>
        </div>
        <div class="member">
            {:W('Menu/index')}
            <div class="memberR fl">
                <h3>在线留言</h3>
                <form class="liuyan" method="post">
                    <ul>
                        <li class="first clearfix">
                            <a href="#" class=" icon user"></a><input type="text" name="name" class="text" placeholder="姓名">
                        </li>
                        <li class="first clearfix">
                            <a href="#" class=" icon email"></a><input type="text" name="email" class="text" placeholder="邮箱">
                        </li>
                        <li class="first clearfix">
                            <a href="#" class=" icon phone1"></a><input type="text" name="mobile" class="text" placeholder="电话">
                        </li>
                        <li class="second clearfix">
                            <a href="#" class=" icon msg"></a><textarea name="content" placeholder="采购意向描述"></textarea>
                        </li>
                    </ul>
                    <input type="submit" value="提交">
                </form>
            </div>
        </div>
    </div>
</div>
<!--foot-->
<include file="Public:footer"/>