<include file="Public:header"/>
<body>
{:W('Nav/top')}
<div class="all">
    {:W('Member/menu')}
    <div class="member-2 right">
        <p class="member-tit">订单管理</p>
        <p class="right order-choice">
            <a href="{:U('')}" <empty name="search['status']">class="order-choice-c"</empty>>全部订单</a>
            <a href="{:U('',array('status'=>10))}" <eq name="search['status']" value="10">class="order-choice-c"</eq>>待付款</a>
            <a href="">待发货</a>
            <a href="">待收货</a>
            <a href="">待评价</a>
            <a href="">退款/售后</a>
        </p>
        <div class="line-1"></div>
        <notempty name="list">
            <volist name="list" id="vo">
                <div class="inline-mem order-mu">
                    <span class="order-time">订单号:{$vo['order_sn']}</span><span class="order-time">{$vo['add_time']|date='Y-m-d H:i:s',###}</span>
                    <span class="order-time right">总计:¥{$vo['order_amount']|price_format}</span>
                </div>
                <div class="order-mu2 left">
                    <volist name="vo['OrderGoods']" id="v">
                        <div class="order-product left">
                            <img src="__UPLOADS__/{$v['goods_image']}" alt="" width="15%">
                            <span class="order-product-p">{$v['goods_name']}</span>
                            <span class="order-product-mon">{$v['goods_price']}</span>
                            <span class="order-product-mon">×{$v['goods_num']}</span>
                        </div>
                    </volist>
                    <div class="order-product2">
                        <ul class="order-buy">
                            <li class="left order-buy-1">{$vo['order_amount']|price_format}</li>
                            <li class="left order-buy-2"><p>{$vo['order_state']|get_order_state_name}</p>
                                <p><a href="{:U('Order/detail',array('sn'=>$vo['order_sn']))}">订单详情</a></p>
                                <p><a href="{:U('Order/cancelOrder',array('sn'=>$vo['order_sn']))}">取消订单</a></p></li>
                            <li class="left order-buy-1"><a href="{:U('Order/pay',array('sn'=>$vo['order_sn']))}" class="order-buy-button">立即购买</a></li>
                        </ul>
                    </div>
                </div>
                <div class="clear"></div>
            </volist>
            <div class="crucis-page">{$page}</div>
            <else/>
            <div class="crucis-page">没有找到相关信息.</div>
        </notempty>
    </div>
</div>
<div class="clear"></div>
<script>
    $(function(){
        $('.cancelOrder').click(function(){
            $('.theme-popover-mask').fadeIn(100);
            $('.theme-popover').show();
        })
        $('.cancelDel').click(function(){
            $('.theme-popover-mask').fadeOut(100);
            $('.theme-popover').hide();
        })
    });
</script>
<include file="Public:footer"/>