<include file="Public:header"/>
<body>
{:W('Nav/top')}
<div class="all">
    {:W('Member/menu')}
    <div class="member-2 right">
        <p class="member-tit">基础资料</p>
        <div class="line-1"></div>
        <div class="clear"></div>
        <div class="mem-l-w">
            <form action="" method="post">
                <ul class="mem-list-u">
                    <li>
                        <span class="mem-inde-s">绑定手机: </span>
                        <input type="text" class="mem-inde-i mem-inde-w" id="mobile" value="{$info['mobile']}" disabled>
                    </li>
                    <li>
                        <span class="mem-inde-s">验证码: </span>
                        <input type="text" class="mem-inde-i mem-inde-w" name="smscode" placeholder="请输入验证码">
                        <a href="JavaScript:void(0);" class="order-buy-button men-b-m" onclick="sendSMS()">发送验证码</a>
                    </li>
                    <li>
                        <span class="mem-inde-s">新密码: </span>
                        <input type="password" class="mem-inde-i mem-inde-w" name="pwd" placeholder="请输入新密码">
                    </li>
                    <li>
                        <span class="mem-inde-s">确定密码: </span>
                        <input type="password" class="mem-inde-i mem-inde-w" name="repwd" placeholder="请确认新密码">
                    </li>
                    <li><input type="button" value="保存" class="mem-list-u-b mem-inde-i mem-inde-w2"></li>
                </ul>
            </form>
        </div>
    </div>
</div>
<div class="clear"></div>
<script>
    function sendSMS() {
        var URL = "{:U('sendSMS')}";
        var mobile = $("#mobile").val();
        var type = "changePwd";
        var data = {"mobile": mobile, "type": type};
        $.post(URL, data, function (msg) {
            alert(msg);
        });
    }
</script>
<include file="Public:footer"/>