<include file="Public/header"/>
<!--top-->
{:W('Top/index')}
<!--nav-->
{:W('Nav/index')}
<!--repair-->
<div class="main" style="background-color: #f7f7f7">
    <div class="container">
        <div class="bread">
            <a href="#">首页</a> / <a href="#">会员中心</a> / <span>修改密码</span>
        </div>
        <div class="member">
            {:W('Menu/index')}
            <div class="memberR fl">
                <h3>修改密码</h3>
                <div class="memberInfo">
                    <form action="" method="post">
                        <div class="item clearfix">
                            <div class="itemL fl">绑定手机：</div>
                            <div class="itemR fl">
                                <input type="text" id="mobile" value="{$info['mobile']}" disabled >
                                <input type="button" value="获取验证码" id="get" onclick="sendSMS()">
                            </div>
                        </div>
                        <div class="item clearfix yzm hide">
                            <div class="itemL fl">验证码：</div>
                            <div class="itemR fl"><input type="text" name="smscode" placeholder="请输入验证码"></div>
                        </div>
                        <div class="item clearfix">
                            <div class="itemL fl">新密码：</div>
                            <div class="itemR fl"><input type="text" name="pwd" placeholder="请输入新密码"></div>
                        </div>
                        <div class="item clearfix">
                            <div class="itemL fl">确认密码：</div>
                            <div class="itemR fl"><input type="text" name="repwd" placeholder="请确认新密码"></div>
                        </div>
                        <input type="submit" value="确认修改" class="saveInfo">
                    </form>
                </div>
            </div>

        </div>

    </div>
</div>
<script>
$(function(){
	
})
function sendSMS(){
	var URL = "{:U('sendSMS')}";
	var mobile = $("#mobile").val();
	var type = "changePwd";
	var data = {"mobile":mobile,"type":type};
	$.post(URL,data,function(msg){
		alert(msg);
	});
}
</script>
<include file="Public/footer"/>