<!doctype html>
<html style="font-size:32px;">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    {$seo}
	<script src="__JS__/jquery-1.11.3.min.js"></script>
    <script src="__JS__/main.js"></script>
    <link rel="stylesheet" href="__CSS__/style.css">
    <link rel="stylesheet" href="__CSS__/swiper.min.css">
    <link rel="stylesheet" href="__CSS__/mui.min.css">
    <link rel="stylesheet" href="__CSS__/weui.css">
</head>
<body>
