<include file="Public:header"/>
<div class="index-group">
    <div class="header-all">
        <div class="com-header">
            <if condition="empty($_SERVER['HTTP_REFERER'])">
                <a class="back-a" href="{:U('Index/Index')}"><i class="head-icon-back">&#xe609;</i></a>{:MSC('site_name')}
                <else/>
                <a class="back-a" href="javascript:history.go(-1)"><i class="head-icon-back">&#xe609;</i></a>{:MSC('site_name')}
            </if>
        </div>
        <div class="dt-top"></div>
    </div>
    <div class="brand-intro">
        <!-- 焦点图 -->
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide"><img src="__UPLOADS__/{$info['goods_pic']}" alt=""></div>
                <volist name="info['GoodsPic']" id="vo">
                    <div class="swiper-slide"><img src="__UPLOADS__/{$vo['pic']}" alt=""></div>
                </volist>
            </div>
            <!-- 分页器 -->
            <div class="swiper-pagination"></div>
        </div>
        <!-- 焦点图 end-->
    </div>
    <!-- 商品详情 -->
    <div class="commodityDetails">
        <div class="title">{$info['goods_name']}</div>
        <div class="parameter">
            <div class="item"><span>所需动态</span><em>{$info['cost_point']}</em></div>
            <div class="item"><span>已售</span><em>{$info['goods_sales']}</em></div>
            <div class="item"><span>库存</span><em>{$info['goods_storage']}</em></div>
            <div class="item"><span>数量</span><div class="mui-numbox" data-numbox-min="1">
                <button class="mui-btn mui-btn-numbox-minus" type="button" disabled="">-</button>
                <input id="num" class="mui-input-numbox" type="number" value="1">
                <button class="mui-btn mui-btn-numbox-plus" type="button">+</button>
            </div>
            </div>
            <notempty name="info['GoodsSpec']">
                <div>
                    <h5 class="mui-content-padded">选择规格</h5>
                    <form class="mui-input-group">
                        <volist name="info['GoodsSpec']" id="vo">
                            <div class="mui-input-row mui-radio">
                                <label>{$vo['spec_name']}</label>
                                <input name="style" type="radio" value="{$vo['spec_id']}">
                            </div>
                        </volist>
                    </form>
                </div>
            </notempty>
            <!-- 产品图片 -->
            <div class="p_title"><h2>商品详情</h2></div>
            <div class="custommodule-item">
                {$info['goods_body']}
            </div>
        </div>
    </div>
    <div style="height:70px;">
        <p style="text-align:center;font-size:12px;">没有更多内容啦！</p>
    </div>
    <section class="actionBar-container">
        <div class="cell collect"><a href="JavaScript:collectionGoods({$info['goods_id']});"><span id="Collection" class="iconfont">&#xe614;</span>收藏</a></div>
        <div class="cell add"><a onclick="addCart({$info['goods_id']});" href="JavaScript:">加入购物车</a></div>
        <div class="cell once"><a href="JavaScript:quickBuy({$info['goods_id']});">立即购买</a></div>
        <div class="cell collect"><a href="{:U('Cart/index')}"><span id="shopCar" class="iconfont">&#xe602;</span>购物车</a></div>
    </section>
</div>
<script src="__JS__/mui.js"></script>
<script src="__JS__/swiper.min.js"></script>
<script>
    var mySwiper = new Swiper('.swiper-container', {
        autoplay: 5000,
        pagination: '.swiper-pagination',
        loop:'true'
    });
    function collectionGoods(goods_id)
    {
        var URL = "{:U('Shop/collectionGoods')}";
        var data = {'goods_id':goods_id};
        $.post(URL,data,function(){
            $("#Collection").css("color","red");
        },'json');
    }
    function quickBuy(goods_id)
    {
        addCart(goods_id);
        window.location.href="{:U('Cart/index')}";
    }
    function addCart(goods_id)
    {
        //$("#shopCar").css("color","red");
        $("#shopCar").animate({
            'font-size':'35px',
            'color':'red'
        },300,function(){
            $(this).css({
                'font-size':'0.5rem',
                'color':'red'
            });
        });
        var num = $('#num').val();
        var URL = "{:U('Cart/addCart')}";
        var data = {'goods_id':goods_id,'num':num};
        $.post(URL,data,function(){
            alert(123);return false;
        },'json');
    }
</script>
<include file="Public:footer"/>