<div class="creditbg">
    <div class="all">
        <div class="credit">
            <div class="credit-1">
                <div class="credit-p"><img src="__IMG__/credit_1.png" alt="" width="55px;"></div>
                <div class="credit-w">
                    <p class="credit-w-c">超高性价比</p>
                    <p class="credit-w-c-1">品牌底价折扣+超高返利</p>
                </div>
            </div>
            <div class="credit-1">
                <div class="credit-p"><img src="__IMG__/credit_2.png" alt="" width="55px;"></div>
                <div class="credit-w">
                    <p class="credit-w-c">闪电到账</p>
                    <p class="credit-w-c-1">确认收货后返利直接到账</p>
                    <img src="" alt="">
                </div>
            </div>
            <div class="credit-1">
                <div class="credit-p"><img src="__IMG__/credit_3.png" alt="" width="55px;"></div>
                <div class="credit-w">
                    <p class="credit-w-c">正品保障</p>
                    <p class="credit-w-c-1">买手优选100%正品</p>
                    <img src="" alt="">
                </div>
            </div>
            <div class="credit-1">
                <div class="credit-p"><img src="__IMG__/credit_4.png" alt="" width="55px;"></div>
                <div class="credit-w">
                    <p class="credit-w-c">无忧退货</p>
                    <p class="credit-w-c-1">7天无理由退换货</p>
                    <img src="" alt="">
                </div>
            </div>
        </div>
    </div>
</div>