<include file="Public/header" />
<div class="page">
  <div class="fixed-bar">
    <div class="item-title">
      <h3>故障分类</h3>
      <ul class="tab-base">
        <li><a href="{:U('breakdown')}">管理</span></a></li>
        <li><a href="JavaScript:infoid(0);" class="current"><span>编辑</span></a></li>
      </ul>
    </div>
  </div>
  <div class="fixed-empty"></div>
  <form id="article_class_form" method="post">
    <input type="hidden" name="bd_id" value="{$info['bd_id']}" />
    <table class="table tb-type2">
      <tbody>
        <tr>
          <td colspan="2" class="required"><label for="bd_upid">上一级分类:</label></td>
        </tr>
        <tr class="noborder">
        <td class="vatop rowform">
        <select name="bd_upid" id="bd_upid">
        <option value="0">请选择...</option>    
        <volist name="ac_list" id="v"> 
        <option  value="{$v['bd_id']}" <if condition="$v['bd_id'] eq $info['bd_upid']">selected="selected"</if>>{$v['bd_name']}</option>
        </volist>
        </select>
        </td>
        <td class="vatop tips">如果选择上级分类，那么新增的分类则为被选择上级分类的子分类</td>
        </tr>       
        <tr class="noborder">
          <td colspan="2" class="required"><label class="validation" for="bd_name">分类名称:</label></td>
        </tr>
        <tr class="noborder">
          <td class="vatop rowform"><input type="text" value="{$info['bd_name']}" name="bd_name" id="bd_name" class="txt"></td>
          <td class="vatop tips"></td>
        </tr>
        
        <tr>
          <td colspan="2" class="required"><label for="bd_sort">排序:</label></td>
        </tr>
        <tr class="noborder">
          <td class="vatop rowform"><input type="text" value="{$info['bd_sort']}" name="bd_sort" id="bd_sort" class="txt"></td>
          <td class="vatop tips">格式为正整数</td>
        </tr>
      </tbody>
      <tfoot>
        <tr class="tfoot">
          <td colspan="15" ><a href="JavaScript:infoid(0);" class="btn" id="submitBtn"><span>提交</span></a></td>
        </tr>
      </tfoot>
    </table>
  </form>
</div>
<script>
//按钮先执行验证再提交表单
$(function(){$("#submitBtn").click(function(){
    if($("#article_class_form").valid()){
     $("#article_class_form").submit();
	}
	});
});
//
$(document).ready(function(){
	$('#article_class_form').validate({
        errorPlacement: function(error, element){
			error.appendTo(element.parent().parent().prev().find('td:first'));
        },
        success: function(label){
            label.addClass('valid');
        },
        rules : {
            bd_name : {
                required : true
            },
            bd_sort : {
				required : true,
                number   : true
            }
        },
        messages : {
            bd_name : {
                required : '请输入分类名称'
            },
            bd_sort  : {
				required : '请输入排序信息',
                number   : '排序格式错误'
            }
        }
    });
});
</script>
<include file="Public/footer" />