<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {$seo}
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="__CSS__/style2.css">
    <link rel="stylesheet" href="__CSS__/bottom.css">
    <link rel="stylesheet" href="__CSS__/style.css">
    <link href="__CSS__/crucis.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="__CSS__/zzsc.css">
    <link rel="stylesheet" href="__CSS__/font-awesome.css">
    <script type="text/javascript" class="library" src="__JS__/zzsc.js"></script>
    <script type="text/javascript" class="library" src="__JS__/jquery.colorbox-min.js"></script>
    <script src="__JS__/unslider.js"></script>
    <script src="__JS__/slider.js?t={:time()}"></script>
    <link href="__CSS__/unslider.css" rel="stylesheet">
    <script type="text/javascript" src="__JS__/jquery.SuperSlide2.js"></script>
</head>