<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>万丰城淘货</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="__CSS__/font-awesome.css">
    <link rel="stylesheet" href="__CSS__/bottom.css">
    <link href="__CSS__/unslider.css" rel="stylesheet">
    <link href="__CSS__/crucis.css" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="__JS__/jquery.SuperSlide2.js"></script>
    <script src="__JS__/unslider.js"></script>
    <script src="__JS__/slider.js"></script>
    <link rel="stylesheet" href="__CSS__/style.css">
</head>