<include file="Public/header" />
<div class="page">
  <div class="fixed-bar">
    <div class="item-title">
      <h3>{$title}</h3>
      <ul class="tab-base">
        <li><a href="JavaScript:void(0);" class="current"><span><notempty name="info['member_id']">编辑<else/>添加</notempty></span></a></li>
      </ul>
    </div>
  </div>
  <div class="fixed-empty"></div>
  <form id="article_form" method="post" name="articleForm" enctype="multipart/form-data">
    <input name="member_id" id="member_id" type="hidden" value="{$info['member_id']}"/>
    <table class="table tb-type2 nobdb">
      <tbody>
        <tr class="noborder">
          <td colspan="2" class="required"><label class="validation">真实姓名:</label></td>
        </tr>
        <tr class="noborder">
          <td class="vatop rowform"><input type="text" value="{$info['member_name']}" name="member_name" id="member_name" class="txt"></td>
          <td class="vatop tips"></td>
        </tr>
        <tr class="noborder">
          <td colspan="2" class="required"><label class="validation">昵称:</label></td>
        </tr>
        <tr class="noborder">
          <td class="vatop rowform"><input type="text" value="{$info['nickname']}" name="nickname" id="nickname" class="txt"></td>
          <td class="vatop tips"></td>
        </tr>
        <tr class="noborder">
          <td colspan="2" class="required"><label class="validation">邮箱:</label></td>
        </tr>
        <tr class="noborder">
          <td class="vatop rowform"><input type="text" value="{$info['email']}" name="email" id="email" class="txt"></td>
          <td class="vatop tips"></td>
        </tr>
        <tr class="noborder">
          <td colspan="2" class="required"><label class="validation">手机号:</label></td>
        </tr>
        <tr class="noborder">
          <td class="vatop rowform"><input type="text" value="{$info['mobile']}" name="mobile" id="mobile" class="txt"></td>
          <td class="vatop tips"></td>
        </tr>
        <tr class="noborder">
            <td colspan="2" class="required"><label class="validation">密码:</label></td>
        </tr>
        <tr class="noborder">
            <td class="vatop rowform"><input type="password" value="{$info['pwd']}" name="pwd" id="pwd" class="txt"></td>
            <td class="vatop tips"></td>
        </tr>
        <tr class="noborder">
            <td colspan="2" class="required"><label class="validation">推荐人id:</label></td>
        </tr>
        <tr class="noborder">
            <td class="vatop rowform"><input type="text" value="{$info['parent_member_id']}" name="parent_member_id" id="parent_member_id" class="txt"></td>
            <td class="vatop tips"></td>
        </tr>
        <tr class="noborder">
          <td colspan="2" class="required"><label class="validation">积分:</label></td>
        </tr>
        <tr class="noborder">
          <td class="vatop rowform"><input type="text" value="{$info['point']}" name="point" id="point" class="txt"></td>
          <td class="vatop tips"></td>
        </tr>
        <tr class="noborder">
            <td colspan="2" class="required"><label class="validation">余额:</label></td>
        </tr>
        <tr class="noborder">
            <td class="vatop rowform"><input type="text" value="{$info['predeposit']}" name="predeposit" id="predeposit" class="txt"></td>
            <td class="vatop tips"></td>
        </tr>
        <tr>
            <td colspan="2" class="required"><label>提现权限:</label></td>
        </tr>
        <tr class="noborder">
            <td class="vatop rowform onoff"><label for="withdraw_status1" class='cb-enable <if condition="$info['withdraw_status'] eq 1">selected</if>'><span>正常</span></label>
                <label for="withdraw_status0" class='cb-disable <if condition="$info['withdraw_status'] eq 0">selected</if>'><span>冻结</span></label>
                <input id="withdraw_status1" name="withdraw_status" <if condition="$info['withdraw_status'] eq 1">checked="checked"</if> value="1" type="radio">
                <input id="withdraw_status0" name="withdraw_status" <if condition="$info['withdraw_status'] eq 0">checked="checked"</if> value="0" type="radio"></td>
            <td class="vatop tips"></td>
        </tr>
        <tr>
            <td colspan="2" class="required"><label>排单权限:</label></td>
        </tr>
        <tr class="noborder">
            <td class="vatop rowform onoff"><label for="loan_status1" class='cb-enable <if condition="$info['loan_status'] eq 1">selected</if>'><span>正常</span></label>
                <label for="loan_status0" class='cb-disable <if condition="$info['loan_status'] eq 0">selected</if>'><span>冻结</span></label>
                <input id="loan_status1" name="loan_status" <if condition="$info['loan_status'] eq 1">checked="checked"</if> value="1" type="radio">
                <input id="loan_status0" name="loan_status" <if condition="$info['loan_status'] eq 0">checked="checked"</if> value="0" type="radio"></td>
            <td class="vatop tips"></td>
        </tr>
        <tr>
            <td colspan="2" class="required"><label>联盟商家:</label></td>
        </tr>
        <tr class="noborder">
            <td class="vatop rowform onoff"><label for="merchant_status1" class='cb-enable <if condition="$info['merchant_status'] eq 1">selected</if>'><span>是</span></label>
                <label for="merchant_status0" class='cb-disable <if condition="$info['merchant_status'] eq 0">selected</if>'><span>否</span></label>
                <input id="merchant_status1" name="merchant_status" <if condition="$info['merchant_status'] eq 1">checked="checked"</if> value="1" type="radio">
                <input id="merchant_status0" name="merchant_status" <if condition="$info['merchant_status'] eq 0">checked="checked"</if> value="0" type="radio"></td>
            <td class="vatop tips"></td>
        </tr>
        <tr>
          <td colspan="2" class="required"><label>状态:</label></td>
        </tr>
        <tr class="noborder">
          <td class="vatop rowform onoff"><label for="member_status1" class='cb-enable <if condition="$info['member_status'] eq 1">selected</if>'><span>正常</span></label>
            <label for="member_status0" class='cb-disable <if condition="$info['member_status'] eq 0">selected</if>'><span>冻结</span></label>
            <input id="member_status1" name="member_status" <if condition="$info['member_status'] eq 1">checked="checked"</if> value="1" type="radio">
            <input id="member_status0" name="member_status" <if condition="$info['member_status'] eq 0">checked="checked"</if> value="0" type="radio"></td>
          <td class="vatop tips"></td>
        </tr>
       <!--  <tr class="noborder">
          <td class="vatop rowform">
          	<ul>
          		<notempty name="info['MemberVip']">
          		<volist name="info['MemberVip']" id="vo">
	          	<li><a href="{:U('',array('id'=>$vo['id']))}">Vip-{$vo['vip_level']}级 {$vo['start_time']|date='Y-m-d H:i:s',###}至{$vo['end_time']|date='Y-m-d H:i:s',###}</a></li>
	          	</volist>
	          	<else/>
	          	<li>没有相关信息</li>
	          	</notempty>
          	</ul>
          </td>
          <td class="vatop tips"><a href="{:U('vipRecharge',array('member_id'=>$info['member_id']))}">代充值vip</a></td>
        </tr> -->
      </tbody>
      <tfoot>
        <tr class="tfoot">
          <td colspan="15" ><a href="JavaScript:void(0);" class="btn" id="submitBtn"><span>保存</span></a></td>
        </tr>
      </tfoot>
    </table>
  </form>
</div>
<script>
//按钮先执行验证再提交表单
$(function(){$("#submitBtn").click(function(){
    if($("#article_form").valid()){
     $("#article_form").submit();
	}
	});
});
//
$(document).ready(function(){
	$('#article_form').validate({
        errorPlacement: function(error, element){
			error.appendTo(element.parent().parent().prev().find('td:first'));
        },
        success: function(label){
            label.addClass('valid');
        },
        rules : {
            article_title : {
                required   : true
            },
			ac_id : {
                required   : true
            },
			article_url : {
				url : true
            },
			article_content : {
                required   : true
            },
            article_sort : {
                number   : true
            }
        },
        messages : {
            article_title : {
                required   : '请输入标题'
            },
			ac_id : {
                required   : '请选择分类'
            },
			article_url : {
				url : '输入错误'
            },
			article_content : {
                required   : '请输入内容'
            },
            article_sort  : {
                number   : '输入错误'
            }
        }
    });
	
});
</script>
<script type="text/javascript">
// 模拟网站LOGO上传input type='file'样式
$(function(){
	$("#id_card").change(function(){
		$("#txt_id_card").val($(this).val());
	});
// 上传图片类型
$('input[class="type-file-file"]').change(function(){
	var filepatd=$(this).val();	
	var extStart=filepatd.lastIndexOf(".");
	var ext=filepatd.substring(extStart,filepatd.lengtd).toUpperCase();		
		if(ext!=".PNG"&&ext!=".GIF"&&ext!=".JPG"&&ext!=".JPEG"){
			alert("图片格式错误");
				$(this).attr('value','');
			return false;
		}
	});
});
</script>
<include file="Public/footer" />