<include file="Public/header" />
<div class="page">
  <div class="fixed-bar">
    <div class="item-title">
      <h3>{$title}</h3>
    </div>
  </div>
  <div class="fixed-empty"></div>
  <form id="article_form" method="post" name="articleForm" enctype="multipart/form-data">
    <input name="member_id" id="member_id" type="hidden" value="{$info['member_id']}"/>
    <table class="table tb-type2 nobdb">
      <tbody>
      	<tr class="noborder">
          <td colspan="2" class="required"><label class="validation">会员名:</label></td>
        </tr>
        <tr class="noborder">
          <td class="vatop rowform">
          	<input type="text" value="{$info['member_id']|get_member_nickname}" readonly class="txt">
		  </td>
          <td class="vatop tips"></td>
        </tr>
        <tr class="noborder">
          <td colspan="2" class="required"><label class="validation">vip等级:</label></td>
        </tr>
        <tr class="noborder">
          <td class="vatop rowform">
		  	<select name="vip_level">
		  		<option value="1">普通vip</option>
		  	</select>
		  </td>
          <td class="vatop tips"></td>
        </tr>
        <tr class="noborder">
          <td colspan="2" class="required"><label class="validation">vip有效时间:</label></td>
        </tr>
        <tr class="noborder">
          <td>
          	<input class="txt date" type="text" id="start_time" name="start_time">
            <label for="add_time_to">~</label>
            <input class="txt date" type="text" id="end_time" name="end_time"/></td>
          </tr>
        <tr>
          <td colspan="2" class="required"><label class="validation" for="ac_type">Vip日志:</label></td>
        </tr>
        <tr class="noborder">
          <td class="vatop rowform">
          	<ul>
          		<notempty name="info['MemberVip']">
          		<volist name="info['MemberVip']" id="vo">
	          	<li><a href="{:U('',array('id'=>$vo['id']))}">Vip-{$vo['vip_level']}级 {$vo['start_time']|date='Y-m-d H:i:s',###} 至 {$vo['end_time']|date='Y-m-d H:i:s',###}</a></li>
	          	</volist>
	          	<else/>
	          	<li>没有相关信息</li>
	          	</notempty>
          	</ul>
          </td>
          <td class="vatop tips"></td>
        </tr>
      </tbody>
      <tfoot>
        <tr class="tfoot">
          <td colspan="15" ><a href="JavaScript:void(0);" class="btn" id="submitBtn"><span>保存</span></a></td>
        </tr>
      </tfoot>
    </table>
  </form>
</div>
<script>
//按钮先执行验证再提交表单
$(function(){$("#submitBtn").click(function(){
    if($("#article_form").valid()){
     $("#article_form").submit();
	}
	});
});
//
$(document).ready(function(){
	$('#article_form').validate({
        errorPlacement: function(error, element){
			error.appendTo(element.parent().parent().prev().find('td:first'));
        },
        success: function(label){
            label.addClass('valid');
        },
        rules : {
        	start_time : {
                required   : true
            },
            end_time : {
                required   : true
            }
        },
        messages : {
        	start_time : {
                required   : '开始时间必填'
            },
            end_time : {
                required   : '结束时间必填'
            }
        }
    });
	
});
</script>
<script type="text/javascript">
// 模拟网站LOGO上传input type='file'样式
$(function(){
	$("#id_card").change(function(){
		$("#txt_id_card").val($(this).val());
	});
// 上传图片类型
$('input[class="type-file-file"]').change(function(){
	var filepatd=$(this).val();	
	var extStart=filepatd.lastIndexOf(".");
	var ext=filepatd.substring(extStart,filepatd.lengtd).toUpperCase();		
		if(ext!=".PNG"&&ext!=".GIF"&&ext!=".JPG"&&ext!=".JPEG"){
			alert("图片格式错误");
				$(this).attr('value','');
			return false;
		}
	});
});
</script>
<script type="text/javascript" src="__STATIC__/jquery-ui/jquery.ui.js"></script> 
<script type="text/javascript" src="__STATIC__/jquery-ui/i18n/zh-CN.js" charset="utf-8"></script>
<link rel="stylesheet" type="text/css" href="__STATIC__/jquery-ui/themes/ui-lightness/jquery.ui.css"  />
<script type="text/javascript">
$(function(){
    $('#start_time').datepicker({dateFormat: 'yy-mm-dd'});
    $('#end_time').datepicker({dateFormat: 'yy-mm-dd'});
});
</script> 
<include file="Public/footer" />