<include file="Public:header"/>
<div class="shopCart-group">
    <!--  头部导航-->
    <div class="header-all">
        <div class="com-header">
            <a class="back-a" href="javascript:history.go(-1)"><i class="head-icon-back">&#xe609;</i></a>购物车
        </div>
        <div class="dt-top"></div>
    </div>
    <!--  头部导航-->
    <form method="POST" action="{:U('Order/confirm')}" id="mainForm">
        <div class="shopCart-list">
            <volist name="list" id="vo">
                <div class="item">
                    <a class="close" href="javascript:" onclick="remov(this);removeCart({$vo['id']},{$vo['spec_id']});"><i class="iconfont">&#xe60a;</i></a>
                    <div class="check-box"><input id="c_{$key}" type="checkbox" name="goods_id[]" value="{$vo['Goods']['goods_id']}-{$vo['spec_id']}"><label class="m-check" for="c_{$key}"> </label></div>
                    <div class="product-img">
                        <notempty name="vo['img']">
                            <img src="__UPLOADS__/{$vo['img']}" alt="">
                            <else/>
                            <img src="__UPLOADS__/{$vo['Goods']['goods_pic']}" alt="">
                        </notempty>
                    </div>
                    <dl>
                        <dt>
                            <notempty name="vo['name']">
                                {$vo['name']}
                                <else/>
                                {$vo['Goods']['goods_name']}
                            </notempty>
                        </dt>
                        <dd>
                            <notempty name="spec_id">
                                <div>规格：<em>{$vo['GoodsSpec']['spec_name']}</em></div>
                            </notempty>
                                <if condition="$vo['Goods']['member_id'] == 0">
                                    <div>单价：<em>{$vo['Goods']['goods_price']|price_format}</em>元
                                        <del>原价<em>{$vo['Goods']['goods_mktprice']|price_format}</em></del>
                                    </div>
                                <else/>
                                    <div>单价：<em>{$vo['Goods']['cost_point']}</em>动态</div>
                                </if>
                            <div>数量：<em>{$vo['num']}</em></div>
                            <div>小计：
                                <em class="subtotal">{$vo['Goods']['goods_price']*$vo['num']|price_format}</em>元
                                <em class="">{$vo['Goods']['cost_point']*$vo['num']}</em>动态
                            </div>
                        </dd>
                    </dl>
                </div>
            </volist>
        </div>
        <section class="actionBar-container">
            <div class="cell collect"><label class="call-label"><input id="call-check" type="checkbox">全选</label></div>
            <div class="cell add">合计：<span>￥<em id="totals">0</em></span></div>
            <div class="cell once"><a href="JavaScript:submitOrder();">结算(<span id="sum">0</span>)</a></div>
        </section>
    </form>
</div>

<script>
var check_but=$(".item input[type='checkbox']");
var callBut = $("#call-check");
var Method_Com={
    Method_getMoney:function(select_Id){
        var v = $('.subtotal').eq(select_Id).text();
        return parseInt(v);
    },
    select_Event:function() //勾选统计
    {
            var sum = 0;
            for(var i=0; i<check_but.length; i++)
            {
                if(check_but.eq(i).is(":checked"))
                {
                    sum = sum + Method_Com.Method_getMoney(i);
                }
            }
             $("#totals").text(sum);
    },
    call_Event:function(obj)//全选
    {
           
                if ($(obj).is(":checked")) 
                {
                    for (var i = 0; i < check_but.length; i++) 
                    {
                        check_but.eq(i).prop("checked", true);
                        //totalPrice(check_but.eq(i));
                    }
                    Method_Com.select_Event();
                }
                else 
                {
                    for (var i = 0; i < check_but.length; i++) 
                    {
                        check_but.eq(i).prop("checked", false);
                        //totalPrice(check_but.eq(i));
                    }
                    Method_Com.select_Event();
                }
          
    },
    Total:function(){   // 统计结算商品个数
            var s = 0;
            for (var i = 0; i < check_but.length; i++) 
            {
                if (check_but.eq(i).is(":checked")) 
                {
                    s++;
                }
            }
            $("#sum").text(s);
    }

};

// 页面刷新就加载一次方法 否则用户点击后退数值不会变化
Method_Com.select_Event(); // 合计
Method_Com.Total();  //结算商品个数


check_but.click(function(){
    Method_Com.select_Event();
    Method_Com.Total();
});
callBut.click(function (){ 
    Method_Com.call_Event($(this));
    Method_Com.Total();
});



    // 统计结算数量
    // function Total() {
    //     var s = 0;
    //     for (var i = 0; i < che.length; i++) {
    //         if (che.eq(i).is(":checked")) {
    //             s++;
    //         }
    //     }
    //     $("#sum").text(s);
    // }


// function select_Event()   //勾选
// {
//         var check_but=$(".item input[type='checkbox']");
//         check_but.click(function (){
//             var sum = 0;
//             for(var i=0; i<check_but.length; i++)
//             {
//                 if(check_but.eq(i).is(":checked"))
//                 {
//                     sum = sum + Method_Com.Method_getMoney(i);
//                 }
//             }
//              $("#totals").text(sum);
//         });
// }
// select_Event();

// function call_Event()   //点击全选
// {
//         var callBut = $("#call-check");
//         callBut.click(function () {
//             if ($(this).is(":checked")) {
//                 for (var i = 0; i < che.length; i++) {
//                     che.eq(i).prop("checked", true);
//                     totalPrice(che.eq(i));
//                 }

//             }
//             else {
//                 for (var i = 0; i < che.length; i++) {
//                     che.eq(i).prop("checked", false);
//                     totalPrice(che.eq(i));
//                 }
//             }
//             Total();
//         });
// }
    // 统计总价

    // var sumtotal = 0;
    // function totalPrice(obj) {
    //     var t = obj.attr("id").substring(2);

    //     var p = parseInt($(".subtotal").eq(t).text());

    //     if (obj.is(":checked")) {
    //         sumtotal = sumtotal + p;
    //     }
    //     else {
    //         sumtotal = sumtotal - p;
    //     }
    //     $("#totals").text(sumtotal);
    // }



    //  移除父节点
    function remov(obj) {
        $(obj).parent().remove();
    }

    function removeCart(goods_id, spec_id) {

        var URL = "{:U('Cart/removeCart')}";

        var data = {"goods_id": goods_id, "spec_id": spec_id};

        $.post(URL, data, function () {

            //移除购物车动画效果

        }, "json");

    }



    function submitOrder() {

        //判断商品是否有被选中

        $("#mainForm").submit();

    }



</script>





<include file="Public:footer"/>