<include file="Public/header"/>
<!--top-->
{:W('Top/index')}
<!--nav-->
{:W('Nav/index')}
<!--banner-->
<div class="banner" style="height: 550px;background: url('__IMG__/banner5.png') center no-repeat;">
    <div class="container">

    </div>
</div>
<!--slogan-->
<!--<div class="slogan">-->
    <!--<div class="container clearfix">-->
        <!--<a href="#" class="fl" style="margin-bottom: 20px;width: 375px;">100%正品</a>-->
        <!--<a href="#" class="fl" style="margin-bottom: 20px;width: 375px;">价格保障</a>-->
        <!--<a href="#" class="fl" style="margin-bottom: 20px;width: 375px;">免费送货</a>-->
        <!--<a href="#" class="fl" style="width: 375px;">保修服务</a>-->
        <!--<a href="#" class="fl" style="width: 375px;">保修服务</a>-->
        <!--<a href="#" class="fl" style="width: 375px;">保修服务</a>-->
        <!--<a href="#" class="fl" style="margin-bottom: 20px;width: 375px;">100%正品</a>-->
        <!--<a href="#" class="fl" style="margin-bottom: 20px;width: 375px;">价格保障</a>-->
        <!--<a href="#" class="fl" style="margin-bottom: 20px;width: 375px;">免费送货</a>-->
        <!--<a href="#" class="fl" style="width: 375px;">保修服务</a>-->
        <!--<a href="#" class="fl" style="width: 375px;">保修服务</a>-->
        <!--<a href="#" class="fl" style="width: 375px;">保修服务</a>-->
        <!--<a href="#" class="fl" style="margin-bottom: 20px;width: 375px;">100%正品</a>-->
        <!--<a href="#" class="fl" style="margin-bottom: 20px;width: 375px;">价格保障</a>-->
        <!--<a href="#" class="fl" style="margin-bottom: 20px;width: 375px;">免费送货</a>-->
        <!--<a href="#" class="fl" style="width: 375px;">保修服务</a>-->
        <!--<a href="#" class="fl" style="width: 375px;">保修服务</a>-->
        <!--<a href="#" class="fl" style="width: 375px;">保修服务</a>-->
        <!--<a href="#" class="fl" style="margin-bottom: 20px;width: 375px;">100%正品</a>-->
        <!--<a href="#" class="fl" style="margin-bottom: 20px;width: 375px;">价格保障</a>-->
        <!--<a href="#" class="fl" style="margin-bottom: 20px;width: 375px;">免费送货</a>-->
        <!--<a href="#" class="fl" style="width: 375px;">保修服务</a>-->
        <!--<a href="#" class="fl" style="width: 375px;">保修服务</a>-->
        <!--<a href="#" class="fl" style="width: 375px;">保修服务</a>-->
        <!--<a href="#" class="fl" style="margin-bottom: 20px;width: 375px;">100%正品</a>-->
        <!--<a href="#" class="fl" style="margin-bottom: 20px;width: 375px;">价格保障</a>-->
        <!--<a href="#" class="fl" style="margin-bottom: 20px;width: 375px;">免费送货</a>-->
        <!--<a href="#" class="fl" style="width: 375px;">保修服务</a>-->
        <!--<a href="#" class="fl" style="width: 375px;">保修服务</a>-->
        <!--<a href="#" class="fl" style="width: 375px;">保修服务</a>-->
        <!--<a href="#" class="fl" style="margin-bottom: 20px;width: 375px;">100%正品</a>-->
        <!--<a href="#" class="fl" style="margin-bottom: 20px;width: 375px;">价格保障</a>-->
        <!--<a href="#" class="fl" style="margin-bottom: 20px;width: 375px;">免费送货</a>-->
        <!--<a href="#" class="fl" style="width: 375px;">保修服务</a>-->
        <!--<a href="#" class="fl" style="width: 375px;">保修服务</a>-->
        <!--<a href="#" class="fl" style="width: 375px;">保修服务</a>-->
    <!--</div>-->
<!--</div>-->

<!--foot-->
<include file="Public/footer"/>