<include file="Public:header"/>
<body>
{:W('Nav/top')}
<div class="banner">
    <ul>
        <volist name="banner" id="vo">
            <li>
                <a href="{$vo['ap_link']}" target="_blank">
                    <img src="__UPLOADS__/{$vo['ap_pic']}" alt="" width="100%">
                </a>
            </li>
        </volist>
    </ul>
</div>
{:W('Nav/credit')}
<div class="clear"></div>
<div class="massage">
    <div class="line"></div>
    <div class="all">
        <div class="massagebar masb-color1">
            <div class="massage1">
                <div class="subtitle1"><p class="subtitle-text sub-text-color1">超值减</p></div>
                <div class="massage-link masl-color1">
                    <strong>热门Top</strong>
                    <div>
                        <a href="" class="massage-icon">高跟鞋</a>
                        <a href="">平底鞋</a>
                        <a href="">大衣</a>
                        <a href="">紧身裤</a>
                        <a href="">卫衣</a>
                        <a href="">卫衣</a>
                        <a href="">卫衣</a>
                    </div>
                </div>
            </div>
            <div class="massage-img">
                <div class="massage-img1">
                    <a href=""><img src="__IMG__/i1.jpg" alt=""></a>
                </div>
                <div class="massage-img2">
                    <a href=""><img src="__IMG__/i13.jpg" alt="" class="massage-img2-1 massageline-1 mas1">
                        <span class="massage-img2-text">项链</span></a>
                    <a href=""><img src="__IMG__/i12.jpg" alt="" class="massage-img2-1 mas2">
                        <span class="massage-img2-text">美妆</span></a>
                </div>
                <div class="massage-img3">
                    <a href=""><img src="__IMG__/i20.jpg" alt="" height="201px"></a>
                </div>
                <div class="massage-img4">
                    <a href=""><img src="__IMG__/i10.jpg" alt="" width="180px" ; height="134px" ;>
					<span class="massage-img4-text">
						<em>爆料</em>
						<i>海外折扣爆料</i>
					</span>
                    </a>
                </div>
                <div class="massage-img5">
                    <a href=""><img src="__IMG__/i6.jpg" alt="" width="180px" ; height="134px" ;>
					<span class="massage-img4-text">
						<em>爆料</em>
						<i>海外折扣爆料</i>
					</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="clear"></div>
<div class="all">
    <div class="show-title">
        <ul>
            <a href="">
                <li class="show-title-style">超值减</li>
            </a>
            <a href="">
                <li>9块9</li>
            </a>
            <a href="">
                <li>商城</li>
            </a>
            <li class="show-search">
                <form action=" " method="get">
                    <input type="search" placeholder="搜索商品" name="" class="show-search-1">
                    <a href=""><span class="show-search-2">搜索</span></a>
                </form>
            </li>
        </ul>
    </div>
</div>
<div class="line"></div>
<div class="all">
    <div class="show-list">
        <ul>
            <a href="">
                <li class="show-title-style">全部</li>
            </a>
            <a href="">
                <li>女装</li>
            </a>
            <a href="">
                <li>男装</li>
            </a>
            <a href="">
                <li>内衣</li>
            </a>
            <a href="">
                <li>美妆</li>
            </a>
            <a href="">
                <li>居家</li>
            </a>
            <a href="">
                <li>食品</li>
            </a>
        </ul>
        <div class="show-list2">
            <a href=""><span class="show-title-style">最新</span></a> | <a href=""><span>最热</span></a>
        </div>
    </div>
    <div class="clear"></div>

    <div class="showcase">
        <a href=""><img src="__IMG__/s1.jpg" alt="" width="230px;" height="190px;"></a>
        <a href=""><span class="sc-t-1">手机配饰</span></a>
        <span class="sc-t-2">剩余8天</span>
        <div class="clear"></div>
        <div class="showcase-text">
            <p class="sc-t-3">满2件8.8折</p>
            <a href=""><i class="icon-star-empty sc-t-4"> 收藏店铺</i></a>
        </div>
    </div>
    <div class="showcase2">
        <a href=""><img src="__IMG__/s1.jpg" alt="" width="230px;" height="190px;"></a>
        <a href=""><span class="sc-t-1">手机配饰</span></a>
        <div class="clear"></div>
        <div class="showcase-text">
            <span><p class="sc-t-3">¥88</p></span>
            <span class="sc-t-5">剩余9天</span>
        </div>
        <div class="sc-e" style="display:none;">
            <span>包邮|</span>

            <span>返积分</span>
            <div class="collect">
                <a href=""><i class="icon-star icon-star-2">收藏</i></a>
                <a href="" class="sc-e-w">[详情]</a>
            </div>
        </div>
    </div>
    <div class="showcase">
        <a href=""><img src="__IMG__/s1.jpg" alt="" width="230px;" height="190px;"></a>
        <a href=""><span class="sc-t-1">手机配饰手机配饰手机配饰手机配饰</span></a>
        <span class="sc-t-2">剩余8天</span>
        <div class="clear"></div>
        <div class="showcase-text">
            <p class="sc-t-3">满2件8.8折</p>
            <a href=""><i class="icon-star-empty sc-t-4"> 收藏店铺</i></a>
        </div>
    </div>

    <div class="showcase">
        <a href=""><img src="__IMG__/s1.jpg" alt="" width="230px;" height="190px;"></a>
        <a href=""><span class="sc-t-1">手机配饰</span></a>
        <span class="sc-t-2">剩余8天</span>
        <div class="clear"></div>
        <div class="showcase-text">
            <p class="sc-t-3">满2件8.8折</p>
            <a href=""><i class="icon-star-empty sc-t-4"> 收藏店铺</i></a>
        </div>
    </div>
    <div class="clear"></div>
    <div class="showcase">
        <a href=""><img src="__IMG__/s1.jpg" alt="" width="230px;" height="190px;"></a>
        <a href=""><span class="sc-t-1">手机配饰</span></a>
        <span class="sc-t-2">剩余8天</span>
        <div class="clear"></div>
        <div class="showcase-text">
            <p class="sc-t-3">满2件8.8折</p>
            <a href=""><i class="icon-star-empty sc-t-4"> 收藏店铺</i></a>
        </div>
    </div>

    <div class="showcase2">
        <a href=""><img src="__IMG__/s1.jpg" alt="" width="230px;" height="190px;"></a>
        <a href=""><span class="sc-t-1">手机配饰</span></a>
        <div class="clear"></div>
        <div class="showcase-text">
            <span><p class="sc-t-3">¥88</p></span>
            <span class="sc-t-5">剩余9天</span>
        </div>
        <div class="sc-e" style="display:none;">
            <span>包邮|</span>

            <span>返积分</span>
            <div class="collect">
                <a href=""><i class="icon-star icon-star-2">收藏</i></a>
                <a href="" class="sc-e-w">[详情]</a>
            </div>
        </div>
    </div>
</div>
<div class="clear"></div>
<notempty name="panel_banner">
    <div id="wrapper">
        <div id="slider">
            <img class="scrollButtons left" src="__IMG__/leftarrow.png">
            <div style="overflow: hidden;" class="scroll">
                <div class="scrollContainer">
                    <volist name="panel_banner" id="vo">
                        <div class="panel" id="panel_1">
                            <div class="inside">
                                <img src="__UPLOADS__/{$vo['ap_pic']}" alt="picture"/>
                                <h2>{$vo['ap_name']}</h2>
                                <p>{$vo['default_content']}</p>
                            </div>
                        </div>
                    </volist>
                </div>
            </div>
            <img class="scrollButtons right" src="__IMG__/rightarrow.png">
        </div>
    </div>
    <div class="clear"></div>
</notempty>
<script>
    $(function () {
        var slidey = $('.banner').unslider({
            speed: 1000,
            delay: 2500,
            complete: function () {
            },
            keys: true,
            dots: true,
            fluid: false
        });
        data = slidey.data('unslider');

    });

    $(document).ready(function () {
        $(window).scroll(function () {
            if ($(window).scrollTop() > 100) {
                $(".logosearchbg").addClass("logosearchbg-fixed");
            }
            ;
            if ($(window).scrollTop() <= 100) {
                $(".logosearchbg").removeClass("logosearchbg-fixed");
            }
            ;
        });
    });
</script>
<include file="Public:footer"/>