<include file="Public/header" />
<div class="page">
  <div class="fixed-bar">
    <div class="item-title">
      <h3>系统用户管理</h3>
      <ul class="tab-base">
        <li><a href="{:U('admin_list')}"><span>列表</span></a></li>
        <li><a href="javascript:void(0);" class="current"><span>编辑</span></a></li>
      </ul>
    </div>
  </div>
  <div class="fixed-empty"></div>
  <form id="add_form" method="post" action="{:U('Setting/admin_list',array('op'=>'edit'))}">
    <table class="table tb-type2 nobdb">
      <tbody>
        <tr class="noborder">
          <td colspan="2" class="required"><label for="admin_name">账号:</label></td>
        </tr>
        <tr class="noborder">
          <td class="vatop rowform">{$vo['admin_name']}</td>
          <td class="vatop tips"></td>
        </tr>
        <tr>
          <td colspan="2" class="required"><label for="admin_password">密码:</label></td>
        </tr>
        <tr class="noborder">
          <td class="vatop rowform"><input type="password" id="admin_pwd" name="admin_pwd" class="txt"></td>
          <td class="vatop tips"></td>
        </tr>
		<tr>
          <td colspan="2" class="required"><label for="admin_repwd">确认密码:</label></td>
        </tr>
        <tr class="noborder">
          <td class="vatop rowform"><input type="password" id="admin_repwd" name="admin_repwd" class="txt"></td>
          <td class="vatop tips"></td>
        </tr>
        <!-- <tr>
          <td colspan="2" class="required"><label>所属:</label></td>
        </tr>
        <tr class="noborder">
          <td class="vatop rowform onoff"><label for="admin_type1" class='cb-enable <if condition="$vo['admin_type'] eq 1">selected</if>'><span>维修商</span></label>
            <label for="admin_type0" class='cb-disable <if condition="$vo['admin_type'] eq 0">selected</if>'><span>管理员</span></label>
            <input id="admin_type1" name="admin_type" <if condition="$vo['admin_type'] eq 1">checked="checked"</if> value="1" type="radio">
            <input id="admin_type0" name="admin_type" <if condition="$vo['admin_type'] eq 0">checked="checked"</if> value="0" type="radio"></td>
          <td class="vatop tips"></td>
        </tr> -->
       <if condition="$vo['admin_issuper'] neq 1"> 
		<tr id="auth1">
          <td colspan="2" class="required"><label for="admin_auth">用户权限:</label></td>
        </tr>
        <tr class="noborder" id="auth2">
          <td class="vatop rowform" colspan="2">
          <volist name="admin_auth" id="vc">
          	{$key}:
          	<volist name="vc" id="at">
          		<label><input name="admin_auth[]" type="checkbox" value="{$at['a_id']}" <?php if(in_array($at['a_id'],$auth))echo'checked';?>/>{$at['a_title']}</label> &nbsp;&nbsp;
          	</volist>
          	<br/>
          </volist>
          </td>
        </tr>                  
      </if>
      </tbody>
      <tfoot>
        <tr class="tfoot">
          <td colspan="2">
          	<input type='hidden' name='admin_id' value="{$vo['admin_id']}">
          	<a href="JavaScript:void(0);" class="btn" id="submitBtn"><span>保存</span></a>
          </td>
        </tr>
      </tfoot>
    </table>
  </form>
</div>
<script>
//按钮先执行验证再提交表
$(function(){
	$("#submitBtn").click(function(){
    	if($("#add_form").valid()){
     		$("#add_form").submit();
		}
	});
	$(":radio[name='admin_type']").change(function(){
		var admin_type = $(":radio[name='admin_type']:checked").val();
		if (admin_type == 1){
			$("#auth1").css('display','none');
			$("#auth2").css('display','none');
		}else {
			$("#auth1").css('display','');
			$("#auth2").css('display','');
		}
	});
});
$(document).ready(function(){
	$("#add_form").validate({
		errorPlacement: function(error, element){
			error.appendTo(element.parent().parent().prev().find('td:first'));
        },
        success: function(label){
            label.addClass('valid');
        },
        rules : {
            admin_pwd : {
               // required : true,
				minlength: 6,
				maxlength: 20
            },
			admin_repwd:{
				//required: true,	
				equalTo:'#admin_pwd'
			}
        },
        messages : {
            admin_pwd : {
                //required : '请输入密码',
				minlength: '密码长度为6-20个字符',
				maxlength: '密码长度为6-20个字符'
            },
			admin_repwd:{
				//required: '请再次输入密码',
				equalTo:'两次输入的密码不一致'
			}
        }
	});
});
</script> 
<include file="Public/footer" />