<div class="member-l left">
    <div>
        <notempty name="member['avatar']">
            <img src="__UPLOADS__/{$member['avatar']}" alt="" class="mem-b" width="60%">
            <else/>
            <img src="__IMG__/touxiang.jpg" alt="" class="mem-b" width="60%">
        </notempty>
        <p class="member-hello">您好!{$mid|get_member_nickname}</p>
        <a href="{:U('logout')}" class="down">注销</a>
    </div>
    <ul class="member-list">
        <a href="{:U('Member/index')}">
            <li <if condition="ACTION_NAME eq 'index'">class="i-list"</if>><i class="icon-cog i-bg i-color"></i>基础资料</li>
        </a>
        <a href="{:U('Member/order')}">
            <li <if condition="ACTION_NAME eq 'order' || CONTROLLER_NAME eq 'order'">class="i-list"</if>><i class="icon-ok i-color i-bg2"></i>订单管理</li>
        </a>
        <a href="{:U('Member/favorite')}">
            <li <if condition="ACTION_NAME eq 'favorite'">class="i-list"</if>><i class="icon-heart i-bg5 i-color"></i>我喜爱的</li>
        </a>
        <a href="{:U('Member/collect')}">
            <li <if condition="ACTION_NAME eq 'collect'">class="i-list"</if>><i class=" icon-star i-bg4 i-color"></i>我的收藏</li>
        </a>
        <a href="{:U('Member/address')}">
            <li <if condition="ACTION_NAME eq 'address'">class="i-list"</if>><i class=" icon-map-marker i-bg6 i-color1"></i>收货地址</li>
        </a>
        <a href="{:U('Member/message')}">
            <li <if condition="ACTION_NAME eq 'message'">class="i-list"</if>><i class="icon-comments i-bg7 i-color"></i>消息中心</li>
        </a>
        <a href="{:U('Member/resetPassword')}">
            <li <if condition="ACTION_NAME eq 'resetPassword'">class="i-list"</if>><i class=" icon-lock i-bg8 i-color1"></i>修改密码</li>
        </a>
    </ul>
</div>