<include file="Public:header"/>
<body>
{:W('Nav/top')}
<div class="line"></div>
<div class="returnedbg">
    <div class="all">
        <div class="nav_shopping_cart">
            <h2 class="nav_s_cart_t">全部商品 <span>(0)</span></h2>
            <div class="shopcart-list-tit shopcart-list-t-c">
                <span class="shopcart-all"><input type="checkbox" checked="checked"
                                                  class="nav_s_cart-cb">全选</span><span>商品信息</span>
                <ul class="shopcart-list">
                    <li>单价(元)</li>
                    <li>数量</li>
                    <li>金额(元)</li>
                    <li>操作</li>
                </ul>
            </div>
            <volist name="list" id="vo">
                <div class="shopcart-list-tit">
                    <span class="shopcart-all"><input type="checkbox" name="goods_id[]" value="{$vo['id']}" class="nav_s_cart-cb"></span>
                    <a href="{:U('Goods/detail',array('goods_id'=>$vo['id']))}" target="_blank">
                        <img src="__UPLOADS__/{$vo['img']}" alt="" width="3%"><span class="shopcart-mas">商品信息</span>
                    </a>
                    <ul class="shopcart-list">
                        <li>{$vo['price']|price_format}</li>
                        <li>{$vo['num']}</li>
                        <li>{:price_format($vo['price']*$vo['num'])}</li>
                        <li><a href="JavaScript:void(0);" onclick="removeCart({$vo['id']})">删除</a></li>
                    </ul>
                </div>
            </volist>
            <ul class="shopcart-list sum-cart">
                <li>总金额 :</li>
                <li>121312.00元</li>
            </ul>
            <div class="clear"></div>
            <a href="" class="sum-pay">去支付</a>
        </div>
    </div>
</div>
<script>
    function removeCart(goods_id){
        var URL = "{:U('Cart/removeCart')}";
        var data = {"goods_id":goods_id};
        $.post(URL,data,function(){
            $("#detail_"+goods_id).remove();
            var last_count = $("#goods_count").html()*1-1;
            $("#goods_count").html(last_count);
            if (last_count == 0){
                $("#totelinfo").remove();
                $("#form").append('<div class="payBox" id="totelinfo">购物车空空如也哦.</div>');
            }
        });
    }
</script>
<include file="Public:footer"/>