<div style="height: 1.7rem"></div>
<div class="flexdNav">

    <div class='item'><a href="{:U('Index/index')}"><i class="iconfont">&#xe600;</i><span>首页</span></a></div>

    <div class='item'><a href="{:U('Shop/category')}"><i class="iconfont">&#xe601;</i><span>分类</span></a></div>

    <div class='item'><a href="{:U('Cart/index')}"><i class="iconfont">&#xe602;</i><span>购物车</span></a></div>

    <div class='item'><a href="{:U('Order/index')}"><i class="iconfont">&#xe603;</i><span>我的订单</span></a></div>

    <div class='item'><a href="{:U('Member/index')}"><i class="iconfont">&#xe604;</i><span>个人中心</span></a></div>

</div>